.headline
  h1.headline_title Merge Image Sets
  .headline_aside
    =link_to({ :action => 'swap', :left_set_id => @left_set.id, :right_set_id => @right_set.id })
      =svg_symbol '#icon-refresh', class: 'icon'
      span Swap Sets
    |&nbsp;&nbsp;
    =link_to 'Merge Image Sets', { :action => 'merge', :left_set_id => @left_set.id, :right_set_id => @right_set.id }, class: 'button big'

.imageset-merge
  .imageset-merge_set
    h3.imageset-merge_title ="Image set ##{@left_set.id}"
    -@left_set.titled_images.each_with_index do |image, i|
      =link_to(file_to_url(image.shrunk_file), class: 'imageset-merge_image', 'data-imageview': '')
        span =image.title
        =image_tag(file_to_url(image.thumb_file))
      =link_to('Insert Blank', { :action => 'insert',
                :left_set_id => @left_set.id,
                :right_set_id => @right_set.id,
                :insert_set_id => @left_set.id,
                :index => i,
                :where => 'after' },
                class: 'imageset-merge_blank')
  .imageset-merge_set
    h3.imageset-merge_title ="Image set ##{@right_set.id}"
    -@right_set.titled_images.each_with_index do |image, i|
      =link_to('Insert Blank', { :action => 'insert',
                :left_set_id => @left_set.id,
                :right_set_id => @right_set.id,
                :insert_set_id => @right_set.id,
                :index => i,
                :where => 'before' },
                class: 'imageset-merge_blank')
      =link_to(file_to_url(image.shrunk_file), class: 'imageset-merge_image', 'data-imageview': '')
        =image_tag(file_to_url(image.thumb_file))
        span =image.title
