    h3 Create Empty Work
    p.big Use this option to create an empty work. You can then upload individual page images into the work.
    =form_for(:work, { :url => { :action => 'create_work' }}) do |f|
      =validation_summary @work.errors
      table.form
        tr
          td 
            =f.label :collection_id, class: "hidden"
            =f.select :collection_id, options_from_collection_for_select(current_user.collections, 'id', 'title', @work.collection_id), prompt: '- Select a collection -'
        tr
          td
            =f.label :title, class: "hidden"
            =f.text_field :title, placeholder: 'Title'
        tr
          td(colspan="2")
            =f.label :description, class: "hidden"
            =f.text_area :description, rows: 4, placeholder: 'Description'
      .toolbar
        .toolbar_group.aright =f.button 'Create Work'

    -content_for :javascript
      javascript:
        $(function(){
          $('#work_collection_id').append("<option value='new'>Add New Collection</option>");
        });

        $(function(){
          $('#work_collection_id').on('change', function(){
            var col = $(this).val();
              if (col == 'new'){
                new LiteBox({
                  url: '/collection/new',
                  hash: 'create-collection'
                }).open();
              };
          });
        })
