    h3
      a(href="#" class="title" onclick="return false;" id="create-empty-work") =t('.create_empty_work')

    section(style=("display: none" unless @work.errors.any?))
      p.big =t('.create_empty_work_description')
      =form_for(:work, { :url => dashboard_create_work_path }) do |f|
        =validation_summary @work.errors
        table.form
          tr
            td
              =f.label :collection_id, class: "hidden"
              =f.select :collection_id, options_from_collection_for_select(current_user.collections, 'id', 'title', @work.collection_id), prompt: t('.select_a_collection')
          tr
            td
              =f.label :title, class: "hidden"
              =f.text_field :title, placeholder: t('.title')
          tr
            td(colspan="2")
              =f.label :description, class: "hidden"
              =f.text_area :description, rows: 4, placeholder: t('.description')
              br: i =t('.description_message')
        .toolbar
          .toolbar_group.aright =f.button t('.create_work')

    -content_for :javascript
      javascript:
        $(function(){
          $('#work_collection_id').append("<option value='new'>#{t('.add_new_collection')}</option>");
        });

        $(function(){
          $('#work_collection_id').on('change', function(){
            var col = $(this).val();
              if (col == 'new'){
                new LiteBox({
                  url: '/collection/new',
                  hash: 'create-collection'
                }).open();
              };
          });
        })
