-tabs = [{\
  :name => t('.start_a_project'),
  :selected => 2,
  :options => {\
    :action => 'startproject',
  },
},{\
  :name => t('.your_collections'),
  :selected => 1,
  :options => {\
    :action => 'owner',
  },
},{\
  :name => t('.summary'),
  :selected => 3,
  :options => {\
    :action => 'summary',
  },
},{\
  :name => t('.exports'),
  :selected => 4,
  :options => {\
    :action => 'exports',
  },
}]

-selected_tab = tabs.find { |tab| tab[:selected] == selected }[:name] rescue ""
-content_for :page_title, "#{selected_tab} - #{t('.owner_dashboard')}"

.headline
  h1.headline_title =t('.owner_dashboard')
  .headline_aside
    dl.dropdown.right data-controller='dropdown'
      dt.h5 tabindex=0
        span= t('.actions')
        =svg_symbol '#big-menu', class: 'icon icon-big'
      dd
        -unless current_user.all_owner_collections.empty?
        =link_to t('.create_a_collection'), collection_new_path, data: { controller: 'litebox', litebox: { hash: 'create-collection' } }

-if !(current_user.account_type == nil)
  .owner-info
    -account_type_key = current_user.account_type.downcase.tr(' ', '_')
    =t('.account_type', type: t(".account_types.#{account_type_key}"))
    -unless (current_user.start_date == nil)
      span
        |&nbsp;
        =t('.since', date: l(current_user.start_date.to_date))
    -unless (current_user.paid_date == nil)
      span
        |&nbsp;&middot;&nbsp;
        =t('.current_subscription_expires', date: l(current_user.paid_date.to_date))
    span
      |&nbsp;&middot;&nbsp;
      =t('.total_pages', pages: current_user.page_count)
    -if (current_user.account_type == 'Trial') && UPGRADE_FORM_LINK
      span
        |&nbsp;&nbsp;
        =link_to t('.upgrade'), UPGRADE_FORM_LINK, class: 'button outline', target: '_blank'

section.owner-counters
  .counter(data-prefix="#{number_with_delimiter @collections.length}") =t('.collection', count: @collections.length)
  .counter(data-prefix="#{number_with_delimiter @works.length}") =t('.work', count: @works.length)
  -unless @document_sets.empty?
    .counter(data-prefix="#{number_with_delimiter @document_sets.length}") =t('.document_set', count: @document_sets.length)

.tabs
  =active_link_to t('.start_a_project'), dashboard_startproject_path
  =active_link_to t('.your_collections'), dashboard_owner_path
  =active_link_to t('.summary'), dashboard_summary_path
  =active_link_to t('.exports'), dashboard_exports_path
