-content_for :page_title, t('.collections')
-content_for :meta_description, t('.meta_description')

h1 =t('.collections')
.columns
  article.maincol
    =render partial: 'alphabetical_collections_and_document_sets', collection: @collections_and_document_sets, as: :cds
  aside.sidecol
    h2 =t('.recent_activity')
    turbo-frame id="lazy_deeds" src=dashboard_deeds_path(all: true) loading="lazy"
      = render partial: 'shared/components/loading'

-unless MIXPANEL_ID.blank?
  javascript:  mixpanel.track("Dashboard");
