ul.tagcloud
  -@tag_map.each do |ai_text, collection_count|
    -if collection_count > 0
      li data-weight="#{collection_count}"
        =link_to(ai_text, browse_tag_path(ai_text))

.columns.project-list
  article.maincol
    h2 =t('.institutions')
    =fe_filter_table_wrapper(url: landing_page_path, selector: 'results', sorting: nil, ordering: nil) do
      .wrapper [style="padding-top: 0px; padding-right: 0px;"]
        =fe_filter_search(key: :search, value: params[:search], classes: 'w40', placeholder: t('dashboard.landing_page.search_for_collections_or_institutions'))
      .wrapper [style="padding: 0px;"]
        #results.landing-page-results
          =render partial: 'results'

    .project-list_link
      =link_to t('.all_collections'), collections_list_path

  aside.sidecol
    h2 =t('.new_projects')
    -@new_projects[..10].each do |project|
      .deed-short.small
        span.deed-short_content
          =link_to project.title, collection_path(project.owner.slug, project.id)
          =t('.by')
          =link_to project.owner.display_name, user_profile_path(project.owner)

    h2 =t('.recent_activity')
    =deeds_for()

-content_for :javascript
  javascript:
    $(function(){
      $('.carousel').slick({
        autoplay: true,
        arrows: true,
        infinite: true,
        speed: 1000,
        autoplaySpeed: 8000,
        prevArrow: '<button class="button outline" aria-label="#{t('.previous_image')}">#{svg_symbol '#icon-arrow-left', class: 'icon'}</button>',
        nextArrow: '<button class="button outline" aria-label="#{t('.next_image')}">#{svg_symbol '#icon-arrow-right', class: 'icon'}</button>',
      });
    });
