- if !@search_results
  ul#tagcloud.tagcloud
    -@tag_map.each do |ai_text, collection_count|
      -if collection_count > 0
        li data-weight="#{collection_count}"
          =link_to(ai_text, browse_tag_path(ai_text))

.columns.project-list
  article.maincol
    =fe_filter_table_wrapper(selector: 'results') do
      =fe_filter_form_wrapper(url: landing_page_path, selector: 'results', sorting: nil, ordering: nil) do
        =fe_filter_search(key: :search, value: params[:search], wrapper_class: 'collection-search', placeholder: t('dashboard.landing_page.search_for_collections'), with_button: true)

      h2 =t('dashboard.landing_page.institutions')
      =fe_filter_table(selector: 'results') do
        .wrapper [style="padding: 0px;"]
          - if ELASTIC_ENABLED && @search_results
            =render partial: 'elastic/tabbed_results', locals: { search_results: @search_results }
          - else
            =render partial: 'results'

    - unless ELASTIC_ENABLED && @search_results
      .project-list_link
        =link_to t('.all_collections'), collections_list_path

  aside.sidecol
    h2 =t('.new_projects')
    -@new_projects[..10].each do |project|
      .deed-short.small
        span.deed-short_content
          =link_to project.title, collection_path(project.owner.slug, project.id)
          =t('.by')
          =link_to project.owner.display_name, user_profile_path(project.owner)

    h2 =t('.recent_activity')
    =deeds_for()

-content_for :javascript
  javascript:
    $(function(){
      $('.carousel').slick({
        autoplay: true,
        arrows: true,
        infinite: true,
        speed: 1000,
        autoplaySpeed: 8000,
        prevArrow: '<button class="button outline" aria-label="#{t('.previous_image')}">#{svg_symbol '#icon-arrow-left', class: 'icon'}</button>',
        nextArrow: '<button class="button outline" aria-label="#{t('.next_image')}">#{svg_symbol '#icon-arrow-right', class: 'icon'}</button>',
      });
    });
