=render({ :partial => 'owner_header', :locals => { :selected => 3 } })

=render partial: 'statistics/statistics'

=render({ :partial => 'statistics/collaborators',
  :locals =>  { :transcribers   => @all_transcribers,
                :indexers       => @all_indexers, 
                :editors        => @all_editors, 
                :subjects_disabled => false } })
