=render({ :partial => '/shared/collection_tabs', :locals => { :selected => 12, :collection_id => @collection.id }})
=render(partial: '/shared/review_breadcrumbs')

=t('.description')

= render 'form', quality_sampling: @quality_sampling

