-content_for :page_title
  =t('.notes')
  -if @collection
    =" - #{@collection.title}"

h1 =t('.notes')
-if @collection
  h3 =t('.collection_title', title: @collection.title)

-if @collection
  -source = notes_list_path(format: :json, collection_id: @collection.slug)
-else
  -source = notes_list_path(format: :json)
table.datagrid.striped#notes-list(data-source="#{source}")
  thead 
    th
    th= t('.user')
    th= t('.note')
    th= t('.page')
    th= t('.work')
    th= t('.collection')
    th= t('.time')
  tbody

-if @collection
  -content_for :javascript
    javascript: 
      $(document).ready ( function() {
        showCollection = false;
      })
-else
  -content_for :javascript
    javascript: 
      $(document).ready ( function() {

        showCollection = true;
      })
-content_for :javascript
  javascript:
    $(document).ready( function () {
      // initialize the notes list datatable
      $('#notes-list').DataTable( {
        // server-side processing
      
        "serverSide": true,
        "ajax": {
          "url": $('#deeds-list').data('source')
        },
        "columns": [
          {"data": "userpic", "name": "userpic"},
          {"data": "user", "name": "user"},
          {"data": "note", "name": "note"},
          {"data": "page", "name": "page", "defaultContent": ""},
          {"data": "work", "name": "work"},
          {"data": "collection", "name": "collection"},
          {"data": "time", "name": "time"}
        ],

        // don't allow sorting on the user icon column
        'columnDefs': [ { 'targets': [0], 'orderable': false } ],
        // Initially sort by recency
        "order": [[6, 'desc']],

        // hide the collection column for the collection notes list
        "drawCallback": function( settings ) {
          if (showCollection) {
            $('#notes-list').DataTable().column(5).visible(true);
          } else {
            $('#notes-list').DataTable().column(5).visible(false);
          }
        }
      } );

      // fix the layout of the pagination controls
      $('select[name="notes-list_length"]').parent().before('Show ');
      $('select[name="notes-list_length"]').parent().after(' entries');
    } );
