<span id='<%= "cat_#{category.id}" %>'>
	<% if category.articles.empty? %>
		<%= category.title %>
	<% else %>
		<%= link_to(category.title,
		           	:controller => 'category',
                	:action => 'expand_category',
                    :category_id => category.id,
                    :work_id => (@work ? @work.id : nil),
                    :update => "cat_#{category.id}",
                    :remote => true) %>
	<% end %>
</span>

