<%= render '/category/article_link', :category => @category, :article => @article %>
<ul>
	<% @article.pages.each do |page| %>
		<li>
			<%= link_to(page.title,
			            { :controller => 'display',
			              :action => 'display_page',
			              :page_id => page.id }) %>
		</li>
	<% end %>
</ul>
