<%= render '/category/category_link', :category => @category %>
<ul>
<% @category.articles.each do |category| %>
	<li>
	  <%= render '/category/article_link', :category => @category, :article => article %>
	</li>
<% end %>
</ul>
