<%= render '/category/category_link_for_work', :category => @category %>
<ul>
<% @category.articles.each do |article| %>
	<li>
	  <%= render '/category/article_link_for_work', :category => @category, :article => article %>
	</li>
<% end %>
</ul>
