<%= render(:partial => '/category/category_link',
          :locals => { :category => @category }) %>
<ul>
<% for article in @category.articles %>
	<li>
		<%= render(:partial => '/category/article_link',
               :locals => { :category => @category,
                            :article => article }) %>
	</li>
<% end %>
</ul>
