<h2>
	FromThePage email configuration test
</h2>

<p>
	Check the sender and from email addresses to make sure they're right.
</p>
<p>
	This link should go to the <%= link_to 'collection list', admin_collection_list_url %>.
</p>
