<h2>
	FromThePage email configuration test
</h2>

<p>
	Check the sender and from email addresses to make sure they're right.a
</p>
<p>
	This link should go to the collection list: <%= link_to 'click me', { controller: 'admin', action: 'uploads', only_path: false } %>
</p>
