<h2>
	FromThePage email configuration test
</h2>

<p>
	Check the sender and from email addresses to make sure they're right.
</p>
<p>
	This link should go to the <%= link_to 'collection list', { controller: 'admin', action: 'collection_list', only_path: false } %>.
</p>
