<h1>Upload Suceeded</h1>

<p>
  Upload #<%= @document_upload.id %> by <%= @document_upload.user.login %> 
  has been processed and is ready at 
  <%= link_to(@document_upload.collection.title, 
  			  { :action => 'show', 
  			  	:controller => 'collection', 
  			  	:collection_id => @document_upload.collection.id}) %>
</p>
