<h2 style="color:#453939; margin:0; font-weight:normal;">Upload Suceeded</h2>
<p>
  Upload #<%= @document_upload.id %> by <%= @document_upload.user.login %> has been processed and is ready at
  <%= link_to @document_upload.collection.title, {
      controller: 'collection',
      action: 'show',
      collection_id: @document_upload.collection.id,
      only_path: false } %>.
</p>