<% if page_block %>
   <% if page_block.html %>
      <%= raw(page_block.rendered_html) %>
   <% end %>
   <% if user_signed_in? && current_user.admin %>
	<p>
	  <%= link_to('Edit Help Text',
	              { :controller => 'page_block',
	                :action => 'edit',
	                :page_block_id => page_block.id })%>
	</p>
   <% end %>
<% else %>
	<% if user_signed_in? && current_user.admin %>
	  <%= link_to('Create Help Text',
	              { :controller => 'page_block',
	                :action => 'new',
					:origin_action => action_name,
					:origin_controller => controller_name,
	                :tag => tag })%>

	<% end %>
<% end %>
