<div class="columns">
  <div class="maincol">
    <table class="datagrid">
      <thead>
        <tr>
          <th>Page Block</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for page_block in @page_blocks %>
          <tr>
            <td><%= page_block.description %></td>
            <td><%= link_to("edit", { :action => "edit", :page_block_id => page_block.id }) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="sidecol">
    <%= html_block('right') %>
  </div>
</div>