dist: xenial
sudo: false
language: ruby
cache:
  - bundler
  - yarn

rvm: 2.7.3

jobs:
  include:
    - stage: test for pry
      rvm: 2.7.1
      before_install:
      - bash travis/.travis_pry.sh
      install: skip
      before_script: skip
      script: echo No pry found
    - stage: test
      services:
      - mysql
      env: DB=mysql
      gemfile: Gemfile

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install ghostscript
  - sudo apt-get install poppler-utils
  - sudo apt-get install graphviz
  - sudo apt-get install g++ qt5-default libqt5webkit5-dev gstreamer1.0-plugins-base gstreamer1.0-tools gstreamer1.0-x
  - sudo apt-get install firefox-geckodriver
  - export QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
  - qtchooser -qt=qt5
  - mysql -e 'CREATE DATABASE test;'
  - nvm install 16

before_script:
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - bundle exec rake db:fixtures:load FIXTURES_PATH=spec/fixtures

script:
  - xvfb-run bundle exec rspec

branches:
  only:
    - main
    - master
    - development
    - fromthepage.com
