=render partial: 'header', locals: { selected: 12 }

=fe_filter_table_wrapper(selector: 'suspicious-behaviors-table') do
  =fe_filter_form_wrapper(url: admin_suspicious_behaviors_path, selector: 'suspicious-behaviors-table', sorting: @sorting, ordering: @ordering) do
    =fe_filter_select(key: :status, value: params[:status] || 'all', options: suspicious_behavior_status_options, label: t('suspicious_behaviors.labels.status'))
    =fe_filter_select(key: :behavior_type, value: params[:behavior_type] || 'all', options: suspicious_behavior_type_options, label: t('suspicious_behaviors.labels.behavior_type'))

  =fe_filter_table(selector: 'suspicious-behaviors-table') do
    =render partial: 'table'
