=render partial: 'header', locals: { selected: 12 }

=fe_filter_table_wrapper(selector: 'suspicious-behaviors-table') do
  =fe_filter_form_wrapper(url: admin_suspicious_behaviors_path, selector: 'suspicious-behaviors-table', sorting: @sorting, ordering: @ordering) do
    =fe_filter_search(key: :search_user, value: params[:search_user], placeholder: t('filter_table.search_user_id_or_slug'), label: t('filter_table.user'), classes: 'float-left')
    =fe_filter_search(key: :search_collection, value: params[:search_collection], placeholder: t('filter_table.search_collection_id_or_slug'), label: t('filter_table.collection'), classes: 'float-left')
    =fe_filter_search(key: :search_owner, value: params[:search_owner], placeholder: t('filter_table.search_owner_id_or_slug'), label: t('filter_table.owner'), classes: 'float-left')
    =fe_filter_select(key: :status, value: params[:status] || 'pending', options: suspicious_behavior_status_options, label: t('suspicious_behaviors.labels.status'))
    =fe_filter_select(key: :behavior_type, value: params[:behavior_type] || 'all', options: suspicious_behavior_type_options, label: t('suspicious_behaviors.labels.behavior_type'))

  =fe_filter_table(selector: 'suspicious-behaviors-table') do
    =render partial: 'table'
