section.auth
  h1 Edit #{resource_name.to_s.humanize}
  p Here you can change your account information. If you don't want to change your password, leave the appropriate fields blank. You're required to enter your current password to confirm changes.

  -if devise_mapping.confirmable? && resource.pending_reconfirmation?
    p Currently waiting confirmation for #{resource.unconfirmed_email}

  =form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    =devise_error_messages!
    .auth_field
      =f.label :login
      =f.text_field :login, autofocus: true
    .auth_field
      =f.label :display_name
      =f.text_field :display_name
    .auth_field
      =f.label :email, 'Email address'
      =f.email_field :email
    .auth_field
      =f.label :password, 'New password'
      =f.password_field :password, autocomplete: 'off'
    .auth_field
      =f.label :password_confirmation
      =f.password_field :password_confirmation, autocomplete: 'off'
    .auth_field
      =f.label :current_password
      =f.password_field :current_password, autocomplete: 'off'
    .toolbar
      .toolbar_group
        =f.button 'Save Changes', class: 'big'
      .toolbar_group.aright
        =link_to registration_path(resource_name), data: { confirm: 'Are you sure you want to delete your account? After deleting the account you won\'t be able to recover it!' }, method: :delete
          =svg_symbol '#icon-remove-sign', class: 'icon'
          |Cancel Account