-content_for :page_title, "Sign Up"

section.signon
  h1 Sign Up
  p Please fill in the following information to create a new FromThePage account. 
  p By registering with this website you certify that you are at least 13 years of age or have parental permission.
  
  =form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    =devise_error_messages!
    .signon_field
      =f.label :login
      =f.text_field :login, autofocus: true
    .signon_field
      =f.label :email, 'Email address'
      =f.email_field :email
    .signon_field
      =f.label :password
      =f.password_field :password, autocomplete: 'off'
    .signon_field
      =f.label :password_confirmation
      =f.password_field :password_confirmation, autocomplete: 'off'
    .signon_field
      =f.label :display_name
      =f.text_field :display_name
    =f.button 'Create Account', class: 'big'
  hr
  =render 'devise/shared/links'
-unless MIXPANEL_ID.blank?
  javascript:  mixpanel.track("Sign Up");