-content_for :page_title, t('.sign_up_for_trial')

section.signon
  h1= t('.sign_up_for_trial')
  p
    ==t('.message', schedule_a_kickoff_call: (link_to t('.schedule_a_kickoff_call'), 'https://calendly.com/fromthepage/30-minute-meeting/'))
    <br><br>
    i= t('devise.we_never_sell')
    <br><br>
    ==t('.just_want_to_transcribe', sign_up_here: (link_to t('.sign_up_here'), new_user_registration_path))


  =form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    =devise_error_messages!
    .signon_field
      =f.label :login, t('.login')
      =f.text_field :login, autofocus: true
    .signon_field
      =f.label :email, t('devise.email_address')
      =f.email_field :email
    .signon_field
      =f.label :password, t('devise.password')
      =f.password_field :password, autocomplete: 'off'
    .signon_field
      =f.label :password_confirmation, t('devise.confirm_password')
      =f.password_field :password_confirmation, autocomplete: 'off'
    .signon_field
      =f.label :display_name, t('devise.display_name')
      =f.text_field :real_name
    .signon_field
      =f.hidden_field :owner, value: true
      =f.hidden_field :paid_date, value: 2.weeks.from_now
    -if RECAPTCHA_ENABLED
      .signon_field
        =recaptcha_tags
    .signon_field
      =f.check_box :activity_email, checked: true
      =f.label :receive_activity_emails, t('devise.receive_activity_emails')
    <br>
    =f.button t('devise.create_account'), class: 'big'