
<div>
	<ul>
    <% for deed in deeds %>
	     <li><%= render :partial => deed.short_partial, :locals => { :deed => deed } %></li>
    <% end %>
	</ul>
	<p>
	  <%= link_to('More',
	              { :controller => 'deed',
	                :action => 'list',
					:collection_id => @collection ? @collection.id : nil,
	                :ol => 'dp_more' })%>
	</p>
</div>
