
<div>
	<ul>
    <% deeds.each do |deed| %>
	     <li><%= render deed.short_partial, :deed => deed %></li>
    <% end %>
	</ul>
	<p>
	  <%= link_to('More',
	              { :controller => 'deed',
	                :action => 'list',
					:collection_id => @collection ? @collection.id : nil })%>
	</p>
</div>
