<div class="two-columns">
	<div class="inside-column">
                  <%= html_block('right') %>
		<div>
			<h3>Recent Activity</h3>
			<ul>
		    <% @deeds.each do |deed| %>
			     <li><%= render deed.long_partial, :deed => deed %></li>
		    <% end %>
			</ul>
			<%= link_to('More', { :offset => (@offset.to_i+50), :collection_id => @collection ? @collection.id : nil }) %>
		</div>
  </div>
</div>
