p Hi #{@user.display_name} --

p We just wanted to let you know that the following note has been added to a page you worked on in work #{@page.work.title}, in the collection #{@page.collection.title}.

p "#{@note.body}"

span =link_to "Click here", collection_transcribe_page_path(@page.collection.owner, @page.collection, @page.work, @page, only_path: false)
|&nbsp; to view the note in #{@page.collection.title}: #{@page.work.title}.

p Thanks, 
|FromThePage

p
span =link_to "Click here", update_profile_path(@user, only_path: false)
|&nbsp; to turn off this notification.