p= t('user_mailer.greeting', user: @user.display_name)

p= t('.message', owner: @collection.owner.display_name, collection: @collection.title)

span =link_to t('user_mailer.click_here'), collection_url(@collection.owner, @collection, only_path: false)
= t('.html.to_view', collection: @collection.title)

-unless @collection.owner.display_name.blank?
    p== t('user_mailer.html.closing', from: @collection.owner.display_name)
-else
    p== t('user_mailer.html.closing', from: t('user_mailer.fromthepage'))

p
span =link_to t('user_mailer.click_here'), update_profile_url(@user, only_path: false)
= t('user_mailer.html.turn_off_notification')
