p= t('user_mailer.greeting', user: @user.display_name)

p= t('.message', collection: @collection.title)

span =link_to t('user_mailer.click_here'), collection_start_transcribing_url(@collection.owner.slug, @collection.slug)
span =t('.html.continue_transcribing')

-unless @collection.owner.display_name.blank?
    p== t('user_mailer.html.closing', from: @collection.owner.display_name)
-else
    p== t('user_mailer.html.closing', from: t('user_mailer.fromthepage'))