<h2>Your upload is ready!</h2>

<p>
  Your upload has been processed and is ready at
  <%= link_to @document_upload.collection.title, {
      controller: 'collection',
      action: 'show',
      collection_id: @document_upload.collection.id,
      only_path: false } %>.
</p>
