<h1>It's ready!</h1>

<p>
  Your upload has been processed and is ready at   <%= link_to(@document_upload.collection.title, 
  			  { :action => 'show', 
  			  	:controller => 'collection', 
  			  	:collection_id => @document_upload.collection.id}) %>
</p>
