=render({ :partial => 'tabs', :locals => { :selected => 3 } })

h3 Last #{@lines} lines of development logfile
pre.logfile =@dev_tail

h3 Last #{@lines} lines of production logfile
pre.logfile =@prod_tail