h2 =t('.collaborators')

- if user_signed_in?
  - if mailing_list_export
    - if current_user.owner?
        =form_for :bulk_export, url: bulk_export_create_for_owner_path do |f|
          =f.hidden_field :owner_mailing_list, value: true
          =f.submit t('.mailing_list_export'), id: 'mailing-list-export-submit'

.collection-users.justified
  .justified_box>
    h3 =t('.transcribing')
    =render partial: 'statistics/lazy_collaborator', locals: { deed_type: DeedType::PAGE_TRANSCRIPTION, batch: 0, timestamp: Time.now.to_i }

  .justified_box>
    h3 =t('.reviewing')
    =render partial: 'statistics/lazy_collaborator', locals: { deed_type: DeedType::PAGE_REVIEWED, batch: 0, timestamp: Time.now.to_i }

  .justified_box>
    h3 =t('.editing')
    =render partial: 'statistics/lazy_collaborator', locals: { deed_type: DeedType::PAGE_EDIT, batch: 0, timestamp: Time.now.to_i }

  -unless subjects_disabled
    .justified_box>
      h3 =t('.indexing')
      =render partial: 'statistics/lazy_collaborator', locals: { deed_type: DeedType::PAGE_INDEXED, batch: 0, timestamp: Time.now.to_i }
