h4.legend.fglight= t('.collaborator_time_for_dates')

=form_tag('/dashboard/summary', method: "get") do
  =hidden_field_tag(:collection_id, @collection)
  =label_tag(:start_date, t('.start_date'))
  |  
  =text_field_tag(:start_date, l(@start_date.to_date), style: "width:30%")
  |  
  =label_tag(:end_date, t('.end_date'))
  |  
  =text_field_tag(:end_date, l(@end_date.to_date), style: "width:30%")
  |  
  =submit_tag(t('.update'))

hr

h3 =t('.collaborator_time')
-unless @contributors.empty?
  =link_to({:controller => 'dashboard', :action => 'collaborator_time_export',
      :start_date => @start_date, :end_date => @end_date}, :class => 'button btnExport')
      =svg_symbol '#icon-export', class: 'icon'
      span =t('.export_activity_as_csv')
  h4 =t('.user_totals_for_dates')
  .collection-users.justified
    .justified_box>
      -@contributors.each do |user|
        .collection-user(data-prefix="#{@activity[user.id]} min")
          =link_to(user_profile_path(user), class: 'collection-user_link')
            span =profile_picture(user)
            span.vmiddle =user.display_name
-else
    p =t('.no_activity_for_date_range')


-content_for :javascript
=javascript_include_tag 'datepicker/datepicker'
javascript:
  var today = new Date()
  var yesterday = new Date(today)
  yesterday.setDate(yesterday.getDate() - 1)
  
  //Attach a date picker for start and end dates
  datePickerController.createDatePicker({
      formElements:{
          "start_date":"%M %d, %Y"
      },
      rangeHigh: yesterday,
      noFadeEffect: true
  });

  datePickerController.createDatePicker({
      formElements:{
          "end_date":"%M %d, %Y"
      },
      noFadeEffect: true,
      rangeHigh: yesterday
  });
