h4.legend.fglight Collaborator Time by Collection

=form_tag('/dashboard/summary', method: "get") do
  =hidden_field_tag(:collection_id, @collection)
  =label_tag(:start_date, "Start date")
  |  
  =text_field_tag(:start_date, @start_date.strftime("%b %d, %Y"), style: "width:30%")
  |  
  =label_tag(:end_date, "End date")
  |  
  =text_field_tag(:end_date, @end_date.strftime("%b %d, %Y"), style: "width:30%")
  |  
  =submit_tag("Update")

hr

// Help! This is terrible markup! Please excuse my mess. This is under 
-if @contributors.empty?
    div 
        p There is no activity for this date range.
-else
    div style="overflow-x: auto"
        table
            thead
                tr style="border-bottom: solid 1px black"
                    th style="width: 10rem; padding-right: 0.5rem;" User

                    -(@start_date.to_date..@end_date.to_date).each do |date|
                        th style="min-width: 7rem; padding-right: 0.5rem;" =date.strftime("%b %d, %Y")
                        
                -@contributors.each do |user|
                    tr
                        td style="width: 4rem" =user.display_name
                        -(@start_date.to_date..@end_date.to_date).each do |date|
                            // Provid ethe default value of "-" if there's no data for the date
                            td =@activity[user.id][date.to_time] || "-"
// END Help!

-content_for :javascript
=javascript_include_tag 'datepicker/datepicker'
javascript:
  var today = new Date()
  var yesterday = new Date(today)
  yesterday.setDate(yesterday.getDate() - 1)
  
  //Attach a date picker for start and end dates
  datePickerController.createDatePicker({
      formElements:{
          "start_date":"%M %d, %Y"
      },
      rangeHigh: yesterday,
      noFadeEffect: true
  });

  datePickerController.createDatePicker({
      formElements:{
          "end_date":"%M %d, %Y"
      },
      noFadeEffect: true,
      rangeHigh: yesterday
  });