turbo-frame id="lazy_collaborator_#{deed_type}_#{timestamp}" src=dashboard_summary_collaborators_path(deed_type: deed_type, batch: batch, timestamp: timestamp) loading="lazy"
  p =t('statistics.collaborators.loading_more_collaborators')
