// Owner Statistics

-unless @works.empty?
  section.collection-stats
    .collection-stats_counters
      =fe_counter(count: @statistics_object[:work_count], text: t('.work', count: @statistics_object[:work_count]))
      =fe_counter(count: @statistics_object[:page_count], text: t('.total_page', count: @statistics_object[:page_count]))
      =fe_counter(count: @statistics_object[:active_page_count], text: t('.active_page', count: @statistics_object[:active_page_count]))
      =fe_counter(count: @statistics_object[:comment_count], text: t('.note', count: @statistics_object[:comment_count]))
      -unless @subjects_disabled
        =fe_counter(count: @statistics_object[:subject_count], text: t('.subject', count: @statistics_object[:subject_count]))
        =fe_counter(count: @statistics_object[:mention_count], text: t('.reference', count: @statistics_object[:mention_count]))
      =fe_counter(count: @statistics_object[:contributor_count], text: t('.collaborator', count: @statistics_object[:contributor_count]))
    .collection-stats_counters
      =fe_counter(count: @statistics_object[:transcription_count], text: t('.page_transcribed', count: @statistics_object[:transcription_count]))
      =fe_counter(count: @statistics_object[:incomplete_page_count], text: t('.incomplete_page', count: @statistics_object[:incomplete_page_count]))
      =fe_counter(count: @statistics_object[:needs_review_count], text: t('.page_needing_review', count: @statistics_object[:needs_page_count]))
      =fe_counter(count: @statistics_object[:review_count], text: t('.page_reviewed', count: @statistics_object[:review_count]))
      =fe_counter(count: @statistics_object[:edit_count], text: t('.page_edit', count: @statistics_object[:edit_count]))
      -unless @subjects_disabled
        =fe_counter(count: @statistics_object[:index_count], text: t('.page_indexed', count: @statistics_object[:index_count]))
      -if @supports_translation
        =fe_counter(count: @statistics_object[:translation_count], text: t('.page_translated', count: @statistics_object[:translation_count]))
      -if @supports_ocr
        =fe_counter(count: @statistics_object[:ocr_count], text: t('.ocr_correction', count: @statistics_object[:ocr_count]))

  =fe_filter_table_wrapper(selector: 'statistics-table') do
    h2#range-label =t('statistics.statistics.statistics_from', start_date: l(@start_date.to_date), end_date: l(@end_date.to_date))
    h4 =t('statistics.statistics.select_new_date')

    =fe_filter_form_wrapper(url: dashboard_summary_path(collection_id: @collection), selector: 'statistics-table', sorting: false, ordering: false) do
      =label_tag(:start_date, t('statistics.statistics.start_date'))
      |
      =text_field_tag(:start_date, l(@start_date.to_date), style: 'width:30%', id: 'start_date', data: { controller: 'datepicker' })
      |
      =label_tag(:end_date, t('statistics.statistics.end_date'))
      |
      =text_field_tag(:end_date, l(@end_date.to_date), style: 'width:30%', id: 'end_date', data: { controller: 'datepicker' })
      |
      =submit_tag(t('statistics.statistics.update'), data: { action: 'click->filter-table#triggerFilter' })

    br

    =fe_filter_table(selector: 'statistics-table') do
      =render partial: 'statistics/in_date_range', \
        locals: { dated_statistics_object: @dated_statistics_object, \
          subjects_disabled: @subjects_disabled, supports_translation: @supports_translation, \
          supports_ocr: @supports_ocr }
