<h1>Editing External Api Request</h1>

<%= render 'form', external_api_request: @external_api_request %>

<%= link_to 'Show', @external_api_request %> |
<%= link_to 'Back', external_api_requests_path %>
