/* much of this is taken from Ruthsarian Layouts at 
	 http://webhost.bridgew.edu/etribou/layouts/rMenu/index.html */
body {
	color: #000;
	font-family: Gaudi, Palatino, serif;
	padding: 0px;
	margin: 0px;
}

p {
	margin: 1em 0;
	padding: 0;
}

div#banner {
	background-image: url(../images/design01/banner.jpg);
	background-repeat: no-repeat;
	height: 161px;
	vertical-align: bottom;
}

div#bannerstretch {
	background-image: url(../images/design01/banner_back.jpg);
}

div#banner,
div#banner p,
div#banner a {
	color: white;
}

div#header {
	visibility: hidden;
}

div#work-logo {
	overflow: hidden;
}

h1.work-logo {
	font-size: x-large;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 120px;
	left: 8px;
}


div.two-columns {
	background-image: url(../images/design01/gutter.gif);
	background-position: center;
	background-repeat: repeat-y;
	color: #000;
	width: 100%;
}

div.two-columns:after {
	content: "."; 
	display: block; 
	height: 0;
	clear: both; 
	visibility: hidden;
}

div.two-columns div.left-column {
	float: left;
	width: 50%;
}

div.two-columns div.right-column {
	overflow-x: auto;
	width: 47%;
}

div.inside-column {
	padding: 1px 20px;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* for the edit version of the page */


div.two-columns-edit {
	background-image: url(../images/design01/gutter.gif);
	background-position: 39%;
	background-repeat: repeat-y;
	color: #000;
	width: 1000px;
}

div.two-columns-edit:after {
	content: "."; 
	display: block; 
	height: 0;
	clear: both; 
	visibility: hidden;
}

div.two-columns-edit div.left-column {
	float: left;
	width: 40%;
}

div.two-columns-edit div.right-column {
	overflow-x: auto;
	width: 500px;
}

div.two-columns-edit div.right-column div.inside-column {
	margin: 0px;
	padding: 0px;
}


h2 {
	clear: both;
	font-size: medium;
	margin: 8px 0px 0px 0px;
	padding: 0px;
}

div.right-column h2 {
	font-family: tahoma, helvetica, sans-serif;
}


h2 span.headDay {
	color: #999;
}

h2 span.headMonth {
	color: black;
}

h2 span.headYear {
	color: #900;
}

span.left-link {
	float: left;
}

span.right-link {
	float: right;
}

div.page-links {
	font-family: tahoma, helvetica, sans-serif;
	font-size: x-small;
	padding: 0px 0px 4px 0px;
}

div.preview {
	border-bottom: 1px dotted #ccc;
}

ul ul, ul ol, ol ul, ol ol {
	/* kill margins on sub-lists
	 */
	margin-top: 0;
	margin-bottom: 0;
}

a, a:link, a:visited, a:active {
	color: #369;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.right-column a {
	font-family: tahoma, helvetica, sans-serif;
	font-size: x-small;
}

div.right-column li {
	color: #369;
	margin-left: -20px;
	padding-left: 0px;
}

code, pre {
	/* Make sure we're all using the same monospaced font for CODE
	 * and PRE elements
	 */
	font-family: "Courier New", Courier, monospace;
}

label {
	cursor: pointer;
}

table {
	font-size: 100%;
}

td, th {
	vertical-align: top;
}


#leftbar{
border: 1px solid #dee7ec;
float: left;
text-align: left;
width: 100%;
}


#rightcontent{
float: right;
width: 80%;
}


#footer {
position: relative;
bottom: 0;
border-bottom: 1px solid #749EA9;
border-top: 1px solid #749EA9;
background: #dee7ec;
text-align: left;
padding: 1px;
width:100%;
}


/* Top Navigation */

div#navcontainer {
	background-image: url(../images/design01/nav_back.gif);
	height: 30px;
	margin: 0px;
}

div#navlist {
	color: white;
	font: bold small tahoma, verdana, arial, sans-serif;
	height: 21px;
	margin: 0;
}

div#navlist a {
	color: white;
	display: block;
	float: left;
	font: bold small tahoma, verdana, arial, sans-serif;
	text-decoration: none;
	margin: 4px 0px 0px 8px;
	padding: 0px;
}


div#navlist a:hover {
	text-decoration: underline;
}

div#navlist div#current {
	color: gray;
	float: left;
	font: bold small tahoma, verdana, arial, sans-serif;
	margin: 4px 0px 0px 8px;
	padding: 0px;
}

div.tweennav {
	color: white;
	float: left;
	font: bold small tahoma, verdana, arial, sans-serif;
	margin: 4px 0px 0px 8px;
	padding: 0px;
}

div#undernavcontainer {
	background-image: url(../images/design01/nav_back.gif);
	/* margin: 161px 0px 0px 0px; */
	position: absolute;
	top: 161px;
	height: 30px;
	width: 200px;
	right: 0px;
}

div#undernav {
	color: #fc6;
	font: bold small tahoma, verdana, arial, sans-serif;
	height: 21px;
	margin: 0px;
	text-align: right;
}

div#undernav a {
	color: #fc6;
	display: block;
	float: right;
	font: bold small tahoma, verdana, arial, sans-serif;
	margin: 4px 8px 0px 0px;
	padding: 0px;
}

div#undernav div.tweennav {
	color: #fc6;
	float: right;
	font: bold small tahoma, verdana, arial, sans-serif;
	margin: 4px 8px 0px 0px;
	padding: 0px;
}


/* side navigationn */
ul#leftbar {
margin: 0 0 0 30px;
padding: 0;
width: 12.5%;
}


#leftbar li {
list-style-type: none;
background-color: white;
color: #dee7ec;
border: 1px solid #blue;
font-weight: 600;
text-align: left;
padding: .3em;
margin-bottom: .1em;
}


#leftbar li a {
color: #888888;
text-decoration: none;
display: block;
}


#leftbar li a:hover {
background-color: #dee7ec;
color: #888888;
}


/* pull quote */
.pullquote	{width: 145px;
background: #dee7ec;
color:black;
float: right;
border:1px solid #749EA9;
font-weight:bold;
line-height:140%;
padding:5px;
margin-top:10px;
margin-left:10px;
}


/* drop cap */
.dropcap {
float:left;
color:#D4D4C7;
font-size:100px;
line-height:70px;
padding-top:2px;
font-family: Times, serif, Georgia;
}


/* important box */
#important	{
width: 96%;
background: rgb(255,235,205);
color:black;
border-top:1px solid rgb(255,160,122);
border-bottom:1px solid rgb(255,160,122);
font-weight:bold;
line-height:140%;
padding:5px;
margin-top:10px;
margin-left:10px;
text-align: right;
}

/* comment style */



/* styles for pagination*/
.pagination {
	font-family: tahoma, verdana, sans-serif;
	font-size: x-small;
	padding: 3px;
	text-align: center;
}

.pagination a {
	font-family: tahoma, verdana, sans-serif;
	font-size: x-small;
	padding: 2px 5px 2px 5px;
	margin: 2px;
	text-decoration: none;
}

.pagination a:hover, .pagination a:active {
	font-family: tahoma, verdana, sans-serif;
	font-size: x-small;
	color: #000;
	text-decoration: underline;
}

.pagination span.current {
	font-family: tahoma, verdana, sans-serif;
	font-size: x-small;
	padding: 2px 5px 2px 5px;
	margin: 2px;
	font-weight: bold;
}

.pagination span.disabled {
	font-family: tahoma, verdana, sans-serif;
	font-size: x-small;
	padding: 2px 5px 2px 5px;
	margin: 2px;
}

	
table.revisions { 
		width: 100%;
#width: 580px;
#background-color: #fafafa;
#border: 1px #000000 solid;
border-collapse: collapse;
border-spacing: 0px; 
}


th.revision_title { border-bottom: 1px #6699CC dotted;
text-align: left;
font-family: Verdana, sans-serif, Arial;
font-weight: bold;
font-size: .7em;
color: #404040;
background-color: #fafafa;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 0px; }


td.revision { border-bottom: 1px #6699CC dotted;
text-align: left;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: .7em;
color: #404040;
background-color: #fafafa;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 0px; }


ul.revision { border-bottom: 1px #6699CC dotted;
text-align: left;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: .7em;
color: #404040;
background-color: #fafafa;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 0px; }


div.revision_meta {
background-color: #DEE7EC
}


#zoom_out {
	visibility: hidden;
}


#zoom_in {
	visibility: visible;
}


p.right {	
text-align: right;
}


.help-text {
font-size: .8em;
}

textarea {
	font-family: "Andale Mono", monospace;
}
