-content_for :page_title, t('.change_password')

section.signon
  h1= t('.change_password')
  p= t('.change_password_message')
  =form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    =devise_error_messages!
    =f.hidden_field :reset_password_token
    .signon_field
      =f.label :password, t('.new_password')
      =f.password_field :password, autofocus: true, autocomplete: 'off'
    .signon_field
      =f.label :password_confirmation, t('devise.confirm_password')
      =f.password_field :password_confirmation, autocomplete: 'off'
    =f.button t('.change_password'), class: 'big'
  hr
  =render 'devise/shared/links'