// Wrapping blocks
.wrapping {
  margin: 0;
  font-size: 0;
  list-style: none;
  &_box {
    margin: 0;
    text-align: left;
    white-space: normal;
    vertical-align: top;
    font-size: $fontSize;
    display: inline-block;
    box-sizing: border-box;
  }
  &.vmiddle &_box { vertical-align: middle; }
  &.nowrap {
    overflow: hidden;
    white-space: nowrap;
  }
}

// Justified blocks
.justified {
  margin: 0;
  font-size: 0;
  list-style: none;
  text-align: justify;
  text-justify: newspaper;
  text-align-last: justify;
  &:after {
    height: 0;
    width: 100%;
    content: '';
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
  }
  &_box {
    margin: 0;
    text-align: left;
    font-size: $fontSize;
    display: inline-block;
    text-align-last: auto;
    vertical-align: middle;
    box-sizing: border-box;
  }
  &.vtop &_item { vertical-align: top; }
}

// Centered content block
.centered {
  margin: 0;
  height: 100%;
  font-size: 0;
  line-height: 0;
  list-style: none;
  word-spacing: -1px;
  text-align: center;
  white-space: nowrap;
  &:before, &:after {
    width: 0;
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  &_content {
    text-align: left;
    line-height: normal;
    white-space: normal;
    word-spacing: normal;
    font-size: $fontSize;
    display: inline-block;
    vertical-align: middle;
  }
}


[data-prefix]:before {
  white-space: pre;
  content: attr(data-prefix);
}
[data-suffix]:after {
  white-space: pre;
  content: attr(data-suffix);
}
.toolbar {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  &_group {
    display: table-cell;
    white-space: nowrap;
    padding-left: $gapSize;
    vertical-align: middle;
    &:first-child { padding-left: 0; }
  }
  &.vtop &_group { vertical-align: top; }
  table.form + & { margin: $gapSize 0 0 0; }
}
.inline {
  margin: 0;
  list-style: none;
  display: inline-block;
  &_block {
    margin-left: 0.8em;
    padding-left: 0.8em;
    display: inline-block;
    border-left: 1px solid rgba(#000, 0.12);
    &:first-child {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}
