// ---------------------------
// CUSTOMER COLOR SCHEME
// ---------------------------

$fgBlack:                   #000;
$fgWhite:                   #FFF;
$fgGray:                    #888;
$fgRed:                     #D00;
$fgGreen:                   #490;
$fgBlue:                    #08D;
$fgOrange:                  #E60;
$fgYellow:                  #FC3;
$fgPurple:                  #939;
$fgCyan:                    #099;

$bgWhite:                   #FFF;
$bgGray:                    #F9F9F9;
$bgRed:                     #FFF0F0;
$bgGreen:                   #F0F9D9;
$bgBlue:                    #D9F0FF;
$bgOrange:                  #FFF6CC;
$bgYellow:                  #FFFCD6;
$bgPink:                    #FFF0F0;

$fgSelected:                #FFF;
$bgSelected:                #655;

//this is the color of all links
$fgLink:                    #900;

//the color when a link is hovered on
$fgHover:                   #D50;

//the color when a link is hovered on
$bgHover:                   lighten($bgSelected, 47);

//heading colors - h1 - h5
$fgH1:                      #655;
$fgH2:                      darken($fgH1, 6%);
$fgH3:                      darken($fgH1, 12%);
$fgH4:                      darken($fgH1, 18%);
$fgH5:                      darken($fgH1, 24%);

//this sets the color of the header
$themeLight:                #EDB;

//this sets the color of the footer
$themeDark:                 #433;


$bodyFg:                    #200;

//the background color of the app
$bodyBg:                    mix(#FFF, $themeLight, 70);
$bodyFgFaded:               mix($bodyFg, $bodyBg, 80);
$bodyFgLight:               mix($bodyFg, $bodyBg, 70);
$borderColor:               mix(#000, $bodyBg, 15);

//HEADER INFO

$headerHeight:              80px;

//the color of lettering on the header
$headerFg:                  $themeDark;

//header background color
$headerBg:                  $themeLight;


//the color of lettering on the footer
$footerFg:                  mix(#FFF, $themeDark, 75);

//footer background color
$footerBg:                  $themeDark;

