// comment out the file

// ---------------------------
// CUSTOMER COLOR SCHEME
// ---------------------------

$fgBlack:                   #231F20;
$fgWhite:                   #FFF;
$fgGray:                    #888;
$fgRed:                     #D00;
$fgGreen:                   #490;
$fgBlue:                    #08D;
$fgOrange:                  #E60;
$fgYellow:                  #FC3;
$fgPurple:                  #939;
$fgCyan:                    #099;

$bgWhite:                   #FFF;
$bgGray:                    #F9F9F9;
$bgRed:                     #FFF0F0;
$bgGreen:                   #F0F9D9;
$bgBlue:                    #D9F0FF;
$bgOrange:                  #FFF6CC;
$bgYellow:                  #FFFCD6;
$bgPink:                    #FFF0F0;

$fgSelected:                #FFF;
$bgSelected:                #655;
$fgLink:                    #0B58A6;
$fgHover:                   lighten($fgLink, 50%);
$bgHover:                   lighten($fgLink, 50%);

$fgH1:                      #655;
$fgH2:                      darken($fgH1, 6%);
$fgH3:                      darken($fgH1, 12%);
$fgH4:                      darken($fgH1, 18%);
$fgH5:                      darken($fgH1, 24%);

$themeLight:                #0b58a6;
$themeDark:                 #61bc46;

$bodyFg:                    #200;
$bodyBg:                    #fff;
$bodyFgFaded:               mix($bodyFg, $bodyBg, 60);
$bodyFgLight:               mix($bodyFg, $bodyBg, 50);
$borderColor:               mix(#000, $bodyBg, 15);

$headerHeight:              80px;
$headerFg:                  #fff;
$headerBg:                  $themeLight;

$footerHeight:              80px;
$footerFg:                  #fff;
$footerBg:                  $themeDark;
