
// ---------------------------
// COLORS
// ---------------------------

$fgBlack:                   #000;
$fgWhite:                   #FFF;
$fgGray:                    #888;
$fgRed:                     #D00;
$fgGreen:                   #490;
$fgBlue:                    #08D;
$fgOrange:                  #E60;
$fgYellow:                  #FC3;
$fgPurple:                  #939;
$fgCyan:                    #099;

$bgWhite:                   #FFF;
$bgGray:                    #F9F9F9;
$bgRed:                     #FFF0F0;
$bgGreen:                   #F0F9D9;
$bgBlue:                    #D9F0FF;
$bgOrange:                  #FFF6CC;
$bgYellow:                  #FFFCD6;
$bgPink:                    #FFF0F0;

$fgSelected:                #FFF;
$bgSelected:                #655;
$fgLink:                    #900;
$fgHover:                   #D50;
$bgHover:                   lighten($bgSelected, 47);

$fgH1:                      #655;
$fgH2:                      darken($fgH1, 6%);
$fgH3:                      darken($fgH1, 12%);
$fgH4:                      darken($fgH1, 18%);
$fgH5:                      darken($fgH1, 24%);

// -----------------------------
// LAYOUT COLOR SCHEME
// -----------------------------
$themeLight:                #EDB;
$themeDark:                 #433;

$bodyFg:                    #200;
$bodyBg:                    mix(#FFF, $themeLight, 70);
$bodyFgFaded:               mix($bodyFg, $bodyBg, 60);
$bodyFgLight:               mix($bodyFg, $bodyBg, 50);
$borderColor:               mix(#000, $bodyBg, 15);

$headerHeight:              80px;
$headerFg:                  $themeDark;
$headerBg:                  $themeLight;

$footerHeight:              80px;
$footerFg:                  mix(#FFF, $themeDark, 50);
$footerBg:                  $themeDark;

@import "base/customer_color_scheme";