-tabs = [{\
  :name => 'Overview',
  :selected => 1,
  :options => {\
    :controller => 'article',
    :action => 'show',
  },
}]

-if user_signed_in?
  -tabs += [{\
    :name => 'Edit Subject',
    :selected => 4,
    :options => {\
      :controller => 'article',
      :action => 'edit',
    },
  }]

-tabs += [{\
  :name => 'Versions',
  :selected => 2,
  :options => {\
    :controller => 'article_version',
    :action => 'list',
  },
}]


h1 =@article.title
.tabs
  -for tab in tabs
    =link_to_unless tab[:selected] == selected, tab[:name], tab[:options].merge(:article_id => article_id)
      a.active =tab[:name]
