-tabs = [{\
  :name => 'Overview',
  :selected => 1,
  :options => {\
    :controller => 'article',
    :action => 'show',
  },
}]

-if user_signed_in? && !current_user.guest
  -tabs += [{\
    :name => 'Settings',
    :selected => 4,
    :options => {\
      :controller => 'article',
      :action => 'edit',
    },
  }]

-tabs += [{\
  :name => 'Versions',
  :selected => 2,
  :options => {\
    :controller => 'article_version',
    :action => 'list',
  },
}]

-description = xml_to_html(@article.xml_text)
-selected_tab = tabs.find { |tab| tab[:selected] == selected }[:name] rescue ""
-content_for :page_title, selected == 1 ? @article.title : "#{selected_tab} - #{@article.title}"
-content_for :meta_description, "#{@article.title} - subject #{selected_tab.downcase}. #{strip_tags(description).truncate(150, separator: ' ')}"

h1 =@article.title
.tabs
  -for tab in tabs
    =link_to_unless tab[:selected] == selected, tab[:name], tab[:options].merge(:article_id => article_id)
      a.active =tab[:name]
