// TODO: Does 'title' param required or it can be removed?
-tabs = [{\
  :name => 'Subject',
  :options => {\
    :controller => 'article',
    :action => 'show',
    :title => title,
  },
}]

-if user_signed_in?
  -tabs += [{\
    :name => 'Edit',
    :options => {\
      :controller => 'article',
      :action => 'edit',
    },
  }]

-tabs += [{\
  :name => 'Versions',
  :options => {\
    :controller => 'article_version',
    :action => 'list',
  },
},{\
  :name => 'Graph',
  :options => {\
    :controller => 'article',
    :action => 'graph',
  },
}]


.tabs
  -for tab in tabs
    =link_to_unless_current tab[:name], tab[:options].merge(:article_id => article_id)
      a.active =tab[:name]
