-tabs = [{\
  :name => 'Overview',
  :selected => 1,
  :path => "#{collection_path(@collection.owner, @collection)}",
},{\
  :name => 'Statistics',
  :selected => 2,
  :path => "#{collection_statistics_path(@collection.owner, @collection)}",
}]

-unless @collection.subjects_disabled
  -tabs +=[{\
  :name => 'Subjects',
  :selected => 3,
  :path => "#{collection_subjects_path(@collection.owner, @collection)}",
}]

-if user_signed_in? && current_user.like_owner?(@collection)
  -tabs += [{\
    :name => 'Collaborators',
    :selected => 4,
    :path => "#{contributors_collection_path(@collection.owner, @collection)}",
  }]
  -if @collection.is_a?(Collection)
    -tabs += [{\
      :name => 'Settings',
      :selected => 5,
      :path => "#{edit_collection_path(@collection.owner, @collection)}",
    },{\
        :name => 'Export',
        :selected => 6,
        :path => "#{collection_export_path(@collection.owner, @collection)}",
    },{\
        :name => 'Add Work',
        :selected => 7,
        :path => "#{new_work_collection_path(@collection.owner, @collection)}",
      }]
    -if @collection.field_based
      -tabs += [{\
        :name => 'Edit Fields',
        :selected => 10,
        :path => "#{collection_edit_fields_path(@collection.owner, @collection)}",
      }]

  -else
    -tabs += [{\
    :name => 'Settings',
    :selected => 5,
    :path => "#{collection_settings_path(@collection.owner, @collection)}",
    }]

  -if @collection.supports_document_sets
    -tabs += [{\
      :name => 'Sets',
      :selected => 8,
      :path => "#{document_sets_path(:collection_id => @collection)}",
    }]

  -tabs += [{\
    :name => 'Works List',
    :selected => 9,
    :path => "#{collection_works_list_path(@collection.owner, @collection)}",
  }]


-selected_tab = tabs.find { |tab| tab[:selected] == selected }[:name] rescue ""
-content_for :page_title, selected == 1 ? @collection.title : "#{selected_tab} - #{@collection.title}"
-content_for :meta_description, "#{@collection.title} - collection #{selected_tab.downcase}. #{strip_tags(@collection.intro_block)}"

div
  -if @document_set
    h1 =@document_set.title
  -else
    h1 =@collection.title
.tabs
  -for tab in tabs
    =link_to_unless tab[:selected] == selected, tab[:name], tab[:path]
        a.active =tab[:name]
