-if @collection.is_a?(DocumentSet)
  -@parent = @collection.collection
-else
  -@parent = @collection
-tabs = [{\
  :name => 'Overview',
  :selected => 1,
  :options => {\
    :controller => 'collection',
    :action => 'show',
  },
},{\
  :name => 'Statistics',
  :selected => 7,
  :options => {\
    :controller => 'statistics',
    :action => 'collection',
  },
}]

-unless @parent.subjects_disabled
  -tabs +=[{\
  :name => 'Subjects',
  :selected => 6,
  :options => {\
    :controller => 'article',
    :action => 'list',
  },
}]

-if user_signed_in? && current_user.like_owner?(@collection)
  -tabs += [{\
    :name => 'Settings',
    :selected => 2,
    :options => {\
      :controller => 'collection',
      :action => 'edit',
    },
  }] 
  -if @parent.supports_document_sets
    -tabs += [{\
      :name => 'Sets',
      :selected => 8,
      :options => {\
        :controller => 'document_sets',
        :action => 'index',
      },
    }]
  -tabs += [{\
    :name => 'Export',
    :selected => 5,
    :options => {\
      :controller => 'export',
      :action => 'index',
    },
  }]

  -tabs += [{\
    :name => 'Collaborators',
    :selected => 9,
    :options => {\
      :controller => 'collection',
      :action => 'contributors',
    },
  },{\
    :name => 'Add Work',
    :selected => 4,
    :options => {\
      :controller => 'collection',
      :action => 'new_work',
    },
  }]

-selected_tab = tabs.find { |tab| tab[:selected] == selected }[:name] rescue ""
-content_for :page_title, selected == 1 ? @collection.title : "#{selected_tab} - #{@collection.title}"
-content_for :meta_description, "#{@collection.title} - collection #{selected_tab.downcase}. #{strip_tags(@collection.intro_block)}"

-if @document_set
  h1 =@document_set.title
-else
  h1 =@collection.title
.tabs
  -for tab in tabs
    -if tab[:name] == 'Overview'
      =link_to_unless tab[:selected] == selected, tab[:name], collection_path(@collection.owner, @collection)
        a.active =tab[:name]
    -elsif tab[:name] == 'Statistics'
      =link_to_unless tab[:selected] == selected, tab[:name], collection_statistics_path(@collection.owner, @collection)
        a.active =tab[:name]
    -else
      =link_to_unless tab[:selected] == selected, tab[:name], tab[:options].merge(:collection_id => @parent.id)
        a.active =tab[:name]
