-tabs = [{\
  :name => t('.overview'),
  :selected => 1,
  :path => metadata_overview_collection_work_path(@work.slug),
}]
-tabs += [{\
  :name => t('.describe'),
  :selected => 2,
  :path => describe_collection_work_path(@work.slug),
}]
-if @work.metadata_description_versions.present?
  -tabs += [{\
    :name => t('.versions'),
    :selected => 3,
    :path => description_versions_collection_work_path(@work.slug),
  }]
-tabs += [{\
  :name => t('.help'),
  :selected => 9,
  :path => "#{collection_work_help_path(@collection.owner, @collection, @work)}",
}]


-selected_tab = tabs.find { |tab| tab[:selected] == selected }[:name] rescue ""

-@display_context ||= ''

.headline
  h1.headline_title =@work.title
  .headline_aside
    -unless @display_context == 'preview'
      nav.page-nav
        -index = @collection.works.index(@work)
        -if @collection.text_entry?
          =link_to(collection_transcribe_page_path(@collection.owner, @collection, @work, @work.pages.last.id), class: 'page-nav_prev', title: 'Previous page', 'aria-label' => 'Previous page', onclick: 'unsavedTranscription(event);')
            =svg_symbol '#icon-arrow-left', class: 'icon', title: 'Previous page'

          span.page-nav_info = t('.metadata')

          =link_to(collection_next_untranscribed_page_path(@collection.owner, @collection, @work), class: 'page-nav_next', title: 'Next page', 'aria-label' => 'Next page', onclick: 'unsavedTranscription(event);')
            =svg_symbol '#icon-arrow-right', class: 'icon', title: 'Next page'
        -else
          -if index > 0
            =link_to(describe_collection_work_path(@collection.owner, @collection, @collection.works[index-1]), class: 'page-nav_prev', title: 'Previous work', 'aria-label' => 'Previous work', onclick: 'unsavedTranscription(event);')
              =svg_symbol '#icon-arrow-left', class: 'icon', title: 'Previous work'

          span.page-nav_info = t('.nav_info', position: index+1, size: @collection.works.size)

          -if index < (@collection.works.size - 1)
            =link_to(describe_collection_work_path(@collection.owner, @collection, @collection.works[index+1]), class: 'page-nav_next', title: 'Next work', 'aria-label' => 'Next work', onclick: 'unsavedTranscription(event);')
              =svg_symbol '#icon-arrow-right', class: 'icon', title: 'Next work'

.tabs
  -for tab in tabs
      =link_to_unless tab[:selected] == selected, tab[:name], tab[:path]
        a.active =tab[:name]

