<p>
  A single carriage-return indicates a line-break in the original document, and
  will not appear when people read the text.  Two carriage-returns indicate a
  paragraph, and will appear as a paragraph break to readers.
</p>
<p>
  You can use double braces to link subjects.  [[Jane Doe]] will link to the subject
  <i>Jane Doe</i>, while [[Jane Doe|Jane]] will link the text "Jane" to the
  subject <i>Jane Doe</i>.
  We recommend that linking be left to an editor after the initial transcription is made.
</p>
