-tabs = [{\
  :name => 'Overview',
  :selected => 1,
  :options => {\
    :controller => 'display',
    :action => 'display_page',
  },
},{\
  :name => 'Transcribe',
  :selected => 3,
  :options => {\
    :controller => 'transcribe',
    :action => 'display_page',
  },
}]

-if @work.supports_translation
  -tabs += [{\
    :name => 'Translate',
    :selected => 6,
    :options => {\
      :controller => 'transcribe',
      :action => 'translate',
    },
  }]

-tabs += [{\
  :name => 'Versions',
  :selected => 2,
  :options => {\
    :controller => 'page_version',
    :action => 'list',
  },
}]

-if @work.owner == current_user
  -tabs += [{\
    :name => 'Settings',
    :selected => 4,
    :options => {\
      :controller => 'page',
      :action => 'edit',
    },
  }]

-description = xml_to_html(@page.xml_text)
-selected_tab = tabs.find { |tab| tab[:selected] == selected }[:name] rescue ""
-tab_title = ([3,6].include? selected) ? "#{selected_tab.downcase} page" : "page #{selected_tab.downcase}"
-page_title = @collection.present? ? "#{@page.title} (#{@collection.title}, #{@work.title})" : "#{@page.title} (#{@work.title})"
-content_for :page_title, selected == 1 ? "#{page_title}" : "#{selected_tab} - #{page_title}"
-content_for :meta_description, "#{page_title} - #{tab_title}. #{strip_tags(description).truncate(150, separator: ' ')}"

.headline
  h1.headline_title =@page.title
  .headline_aside
    nav.page-nav
      -if !@page.first?
        -higher_item = @page.higher_item
        =link_to({ :page_id => higher_item.id }, class: 'page-nav_prev')
          =svg_symbol '#icon-arrow-left', class: 'icon'
      -else
        span.page-nav_prev =svg_symbol '#icon-arrow-left', class: 'icon'

      span.page-nav_info ="Page #{@page.position} of #{@work.pages.size}"

      -if !@page.last?
        -lower_item = @page.lower_item
        =link_to({ :page_id => lower_item.id }, class: 'page-nav_next')
          =svg_symbol '#icon-arrow-right', class: 'icon'
      -else
        span.page-nav_next =svg_symbol '#icon-arrow-right', class: 'icon'

.tabs
  -for tab in tabs
    =link_to_unless tab[:selected] == selected, tab[:name], tab[:options].merge(:page_id => page_id)
      a.active =tab[:name]
