-tabs = [{\
  :name => 'Page',
  :options => {\
    :controller => 'display',
    :action => 'display_page',
  },
},{\
  :name => 'Transcribe',
  :options => {\
    :controller => 'transcribe',
    :action => 'display_page',
  },
}]

-if @work.supports_translation
  -tabs += [{\
    :name => 'Translate',
    :options => {\
      :controller => 'transcribe',
      :action => 'translate',
    },
  }]

-tabs += [{\
  :name => 'Versions',
  :options => {\
    :controller => 'page_version',
    :action => 'list',
  },
}]

-if @work.owner == current_user
  -tabs += [{\
    :name => 'Settings',
    :options => {\
      :controller => 'page',
      :action => 'edit',
    },
  },{\
    :name => 'Image',
    :options => {\
      :controller => 'page',
      :action => 'image_tab',
    },
  }]


.tabs
  -for tab in tabs
    =link_to_unless_current tab[:name], tab[:options].merge(:page_id => page_id)
      a.active =tab[:name]
