-tabs = [{\
  :name => 'Read',
  :selected => 1,
  :path => "#{collection_read_work_path(@collection.owner, @collection, @work)}",
},{\
  :name => 'About',
  :selected => 3,
  :path => "#{collection_work_about_path(@collection.owner, @collection, @work)}",
},{\
  :name => 'Contents',
  :selected => 2,
  :path => "#{collection_work_contents_path(@collection.owner, @collection, @work)}",
},{\
  :name => 'Versions',
  :selected => 4,
  :path => "#{versions_collection_work_path(@collection.owner, @collection, @work)}",
}]

-if false
  -tabs += [{\
    :name => 'Print',
    :selected => 5,
    :path => "#{print_collection_work_path(@collection.owner, @collection, @work)}",
  }]

-if user_signed_in? && current_user.like_owner?(@collection)
  -tabs += [{\
    :name => 'Settings',
    :selected => 6,
    :path => "#{edit_collection_work_path(@collection.owner, @collection, @work)}",
  },{\
    :name => 'Pages',
    :selected => 8,
    :path => "#{pages_collection_work_path(@collection.owner, @collection, @work)}",
  }]

-tabs += [{\
  :name => 'Help',
  :selected => 9,
  :path => "#{collection_work_help_path(@collection.owner, @collection, @work)}",
}]

-selected_tab = tabs.find { |tab| tab[:selected] == selected }[:name] rescue ""
-tab_title = ([1,3,5].include? selected) ? "#{selected_tab.downcase} work" : "work #{selected_tab.downcase}"
-content_for :page_title, selected == 1 ? "#{work_title}" : "#{selected_tab} - #{work_title}"
-content_for :meta_description, "#{work_title} - #{tab_title}. #{strip_tags(@work.description)}"

h1 =@work.title
.tabs
  -for tab in tabs
      =link_to_unless tab[:selected] == selected, tab[:name], tab[:path]
        a.active =tab[:name]
