<div class="viewer" style="height: 500px; width: 500px;">
  <%= image_tag Pathname.new(@page.base_image).relative_path_from(Pathname.new("/home/fromthe/fromthepage/current/public/images")) %>
</div>

<%= javascript_tag do%>
  $(".viewer").zoomer();
<% end %>
