=javascript_include_tag "settings"
=render({ :partial => '/shared/collection_tabs', :locals => { :selected => 5, :collection_id => @document_set }})
.collection-meta-wrapper
  =render({ partial: 'edit_tabs', locals: { selected: 1 }})
  =render partial: 'edit'
