<h1>Shared Canvas Universe</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @universe_collections.each do |sc_collection| %>
      <tr>
        <td><%= link_to sc_collection.label, { :action => 'explore_collection', :at_id => sc_collection.at_id} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Previously Viewed Collections</h2>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sc_collections.each do |sc_collection| %>
      <tr>
        <td><%= link_to sc_collection.label, { :action => 'explore', :at_id => sc_collection.at_id} %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Manually Specify a Collection', { :action => 'new' } %>
