=render partial: '/shared/page_tabs', locals: { selected: 4, page_id: @page.id }
.collection-meta-wrapper
  =render partial: 'edit_tabs', locals: { selected: 1 }
  #page-settings
    =render partial: 'form', locals: { page: @page, collection: @collection, work: @work, scope: 'edit' }
