.collection-settings-wrapper
  =form_for :work, url: work_update_path(id: work.id, scope: scope), method: :post, html: { multipart: true, data: { controller: 'form', action: 'change->form#requestSubmit', turbo: true } } do |f|
    =render 'shared/validation_summary', errors: work.errors
    =f.submit t('work.edit.save_changes'), id: 'collection-settings-save', hidden: true
    table.form.collection-settings
      =render partial: "work/#{scope}_form", locals: { collection: collection, work: work, f: f }
