<%= render({ :partial => '/shared/work_tabs',
             :locals => { :selected => 5,
                          :work_id => @work.id }}) %>

<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
      <p>
      Click this link to download this work:
      <%= link_to("Download", file_to_url(@pdf_file)) %>
      </p>
    </div>
  </div>
</div>