=render partial: '/shared/work_tabs', locals: { selected: 6, work_id: @work.id }
.collection-meta-wrapper
  =render partial: 'edit_tabs', locals: { selected: 2 }
  #collection-settings
    =render partial: 'form', locals: { collection: @work.collection, work: @work, scope: 'edit_tasks' }
