New Work<br />
<% form_for(:work, 
            @work, 
            { :url => { :action => 'create' }}) do |f| %>
  Title:
  <%= f.text_field(:title) %>
  <br />
  Description (optional):
  <%= f.text_field(:description) %>
  <br />
  <%= submit_tag('Create') %>
<% end %>