=render({ :partial => '/shared/work_tabs', :locals => { :selected => 1, :work_id => @work }})

=form_tag(collection_work_search_path, :method => :get, class: 'collection-search') do
  =hidden_field_tag('work_id', @work.slug)
  =search_field_tag :term, @term, "aria-label" => t('.search_in_work')
  =button_tag t('.search')
  =label_tag 'search_work_string', t('.search_in_work'), class: 'hidden'



=render({ :partial => 'elastic/tabbed_results', :locals => { :search_results => @search_results} })
