<%= form_tag( {:action => 'directory_process'} ) do %>

    <% if flash['error'] %>
      <div style="color: red"><%= flash['error'] %></div>
    <% end %>


    <p>If you haven't loaded your raw image files onto a directory 
        on the server, you should do so now.  Make sure that no 
        files other than the new image scans are in that directory.
    </p>
    
    <p><label for="directory">Server Directory:</label><br/>
    <%= text_field_tag 'directory', nil, :size => 60, :maxlength => 256 %></p>


    <p><%= submit_tag 'Next' %></p>
<% end %>
