<div> 
	<% my_categories = article.categories %>
		Categories for <%= @collection.title %>:<br />
		<%= raw(display_categories(@collection.categories, nil) do |category|
	    check_box_tag("#{article.id}_#{category.id}",
	                  "1",
	                  my_categories.include?(category),
	                  { :id => "#{article.id}_#{category.id}" }) +
						raw("<script> $(\"##{article.id}_#{category.id}\").bind('change', function(){
						    $.ajax({
						      url: '#{url_for({ :controller => 'article',
				                                      :action => 'article_category',
				                                      :article_id => article.id,
				                                      :escape => false }) }',
						      type: 'POST',
						      data: {'status': this.checked, 'category_id': #{category.id}}
						    });
						});</script>")+
				    	category.title
					end) %>

</div>
