dd
  -articles.each do |article|
    p[*language_attrs(@collection)]
      = link_to collection_article_show_path(@collection.owner, @collection, article.id) do
        = article.title
        turbo-frame id="lazy_item_#{article.id}_#{timestamp}" src=article_page_counts_path(collection_id: @collection.id, article_id: article.id, timestamp: timestamp) loading="lazy"
          span.grey-number
            = '(...)'

-if @next_batch.present?
  =render partial: 'lazy_item', locals: { collection_id: @collection.slug, category: category, batch: @next_batch, timestamp: Time.now.to_i }
