turbo-frame id="lazy_items_#{timestamp}" src=article_items_path(collection_id: collection_id, selected_category_id: category == 'uncategorized' ? 'uncategorized' : category.id, batch: batch, timestamp: timestamp) loading="lazy"
  p style='text-align: center'
    = t('article.list.loading_more_subjects')
