dl.category-article[id="category-#{category == 'uncategorized' ? 'none' : category.id}" style='display: block;']
  dt
    .headline
      h3.headline_title(data-category-title="#{category == 'uncategorized' ? 'none' : category.id}")
        ="#{category == 'uncategorized' ? t('article.list.uncategorized_subjects') : category.title}"
      -if user_signed_in? && current_user.like_owner?(@collection) && category != 'uncategorized'
        =render partial: 'table_actions', locals: { category: category }

  -if articles.any?
    =render partial: 'lazy_item', locals: { collection_id: @collection.slug, category: category, search: params[:search], batch: 0, timestamp: Time.now.to_i }
  -else
    dd
      p.acenter.fglight= t('article.list.there_are_no_subjects')
