-if selected_category.present?
  -if selected_category == 'all'
    =render partial: 'table_tree', locals: { key: nil, categories_tree: categories_tree, category_ids_with_articles: category_ids_with_articles }

    -if @uncategorized_articles.any?
      =render partial: 'table_contents', locals: { category: 'uncategorized', has_articles: true }

  -elsif selected_category == 'uncategorized'
    =render partial: 'table_contents', locals: { category: 'uncategorized', has_articles: uncategorized_articles.any? }

  -else
    =render partial: 'table_contents', locals: { category: selected_category, has_articles: category_ids_with_articles.include?(selected_category.id) }
