=render partial: '/shared/collection_tabs', locals: { selected: 3, collection_id: @collection }

=render partial: 'list', locals: { categories: @categories, categories_tree: @categories_tree, selected_category: @selected_category, articles: @articles }
