#BookReader {
	height: 800px;
	margin: 40px 0 0 0;
	position: relative;
}
#BRtoolbar {
	position: relative;
	top: 0;
	left: 0;
	height: 40px;
	padding: 0;
	width: 100%;
	z-index: 100;
	background-color: #e2dcc5;
	overflow: hidden;
}
#BRtoolbar .label {
	font-size: 1.1em;
	color: #999;
}
#BRtoolbar a {
	color: #ccc;
	text-decoration: underline;
}
#BRtoolbarbuttons {
	float: right;
}
#BRcontainer {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: scroll;
	position: absolute;
	background-color: rgba(0,0,0,0.2);
}
#BRpageview {
	/*background-color: #9A9B9D;*/
}
.BRpagediv1up {
	cursor: move;
	overflow: hidden;
	background-color: #FEFDEB;
}
.BRpagedivthumb {
	overflow: hidden;
	background-color: #FEFDEB;
}
.BRpagedivthumb a {
	border: 0;
}
.BRpagedivthumb img {
	border: 0;
}
.BRpagediv2up {
	overflow: hidden;
	background-color: rgb(234, 226, 205);
}
#BRbookcover {
	position: absolute;
	background-image: url(images/back_pages.png);
}
.BRpageimage {
	background-color: #FEFDEB;
}
.BRemptypage {
	background-color: #EFEFEF;
}
.BRnoselect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}
.BRleafEdgeR {
	background: transparent url(images/back_pages.png) repeat scroll 0% 0%;
	position: absolute;
}
.BRleafEdgeL {
	background: transparent url(images/back_pages.png) repeat scroll 0% 0%;
	position: absolute;
}
.BRleafEdgeTmp {
	border-style: solid none solid solid;
	border-color: rgb(51, 51, 34);
	border-width: 1px 0px 1px 1px;
	background: transparent url(images/back_pages.png) repeat scroll 0% 0%; /* XXXmang replace file */
	position: absolute;
}
#BRgutter {
	position: absolute;
	z-index: 6;
	background: transparent url(images/booksplit.png) repeat scroll 0% 0%;
}
.BookReaderSearchHilite {
	opacity: 0.20;
	background-color: #00f;
	position: absolute;
}
.BRpageform {
	display: inline;
}
#BRpagenum {
	border: none;
	background-color: #9A9B9D;
	color: #ccc;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: 700;
}
#BRreturn, #BRembedreturn {
	color: #333;
	line-height: 40px;
}
#BRreturn span {
	font-size: 11px;
	display: block;
	height: 12px;
	padding-top: 3px;
}
#BRreturn a, #BRembedreturn a {
	color: #633;
	line-height: 1;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	text-decoration: none;
}
#BRzoom {
	min-width: 70px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.BRicon {
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	border-radius: 0;
	display: inline-block;
	vertical-align: middle;
	width: 40px !important;
	height: 40px !important;
	box-shadow: none !important;
	background-repeat: no-repeat;
	background-color: transparent !important;
	background-image: url(images/BRicons.png) !important;
}
.BRicon.logo {
	background-position: 0 0;
}
.BRicon.info {
	background-position: -40px 0;
}
.BRicon.info:hover {
	background-position: -80px 0;
}
.BRicon.share {
	background-position: -120px 0;
}
.BRicon.share:hover {
	background-position: -160px 0;
}
.BRicon.read {
	background-position: -200px 0;
}
.BRicon.read:hover {
	background-position: -240px 0;
}
.BRicon.unread {
	background-position: -280px 0;
}
.BRicon.unread:hover {
	background-position: -320px 0;
}
.BRicon.full {
	background-position: -360px 0;
}
.BRicon.full:hover {
	background-position: -400px 0;
}
.BRicon.book_left {
	background-position: -440px 0;
}
.BRicon.book_left:hover {
	background-position: -480px 0;
}
.BRicon.book_right {
	background-position: -520px 0;
}
.BRicon.book_right:hover {
	background-position: -560px 0;
}
.BRicon.zoom_out {
	background-position: -600px 0;
}
.BRicon.zoom_out:hover {
	background-position: -640px 0;
}
.BRicon.zoom_in {
	background-position: -680px 0;
}
.BRicon.zoom_in:hover {
	background-position: -720px 0;
}
.BRicon.play {
	background-position: -760px 0;
}
.BRicon.play:hover {
	background-position: -800px 0;
}
.BRicon.pause {
	background-position: -840px 0;
}
.BRicon.pause:hover {
	background-position: -880px 0;
}
.BRicon.twopg {
	background-position: -920px 0;
}
.BRicon.twopg:hover {
	background-position: -960px 0;
}
.BRicon.onepg {
	background-position: -1000px 0;
}
.BRicon.onepg:hover {
	background-position: -1040px 0;
}
.BRicon.thumb {
	background-position: -1080px 0;
}
.BRicon.thumb:hover {
	background-position: -1120px 0;
}
.BRicon.fit {
	background-position: -1160px 0;
}
.BRicon.fit:hover {
	background-position: -1200px 0;
}
.BRlogo {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	margin: 0 5px;
	background: transparent url(images/icon_home.png) no-repeat 0 0;
}
.BRnavlinks {
	float: right;
	padding: 0 20px 0 0;
	margin: 0;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}
#BRpage {
	float: right;
	width: 280px;
	padding-left: 12px;
	text-align: right;
}
#BRnav {
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: 40px;
	overflow: hidden;
	z-index: 100;
	background-color: #e2dcc5;
}
#BRnavpos {
	position: relative;
	margin-right: 280px;
	height: 40px;
}
#BRpager {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
}
#BRslider {
	position: absolute;
	top: 13px;
	height: 27px;
}
#BRpager .ui-slider-handle {
	position: absolute;
	width: 23px;
	height: 27px;
	top: 13px;
	margin-left: -12px; /* Center icon */
	background: url(images/slider.png);
	z-index: 103;
}
#BRpager a {
	text-decoration: none;
}
#BRfiller {
position: absolute;
height: 40px;
width: 10px;
background-color: #e2dcc5;
top: 0;
left: 0;
z-index: 102;
}
#BRnavline {
position: relative;
height: 2px;
width: auto;
background-color: #000;
top: -29px;
margin: 0 10px;
}
.BRnavend {
position: absolute;
top: -2px;
width: 1px;
height: 6px;
background-color: #000;
}
#BRnavleft {
left: 0;
}
#BRnavright {
right: 0;
}