.litebox-embed(style="width:550px")
  h1 Edit Omeka Connection
  p Here you can change the existing Omeka connection. Connection title will be updated automatically by querying the server.
  =render :partial => 'form'