.litebox-embed(style="width:550px")
  h1 New Omeka Connection
  p To create a new Omeka connection please fill in the form below with the Omeka site API URL and API Key if required. Connection title will be filled in automatically by querying the server.
  =render :partial => 'form'