
h2.nomargin =t('.recent_activity')

/ Suspicious Behaviors
- unless @activity.suspicious_behaviors.blank?
  h3 Suspicious Paste Activity
  p
    | #{@activity.suspicious_behaviors.count} user(s) have used paste in the transcription editor.
    | This may indicate they are using AI assistance. Please review their contributions.
  - @activity.suspicious_behaviors.each do |user_id, behaviors|
    - user = behaviors.first.user
    - collections = behaviors.map(&:collection).uniq
    p
      strong User:
      |  #{user.display_name} (#{user.email})
      br
      | Paste events in: #{collections.map(&:title).join(', ')}
      br
      =link_to 'View all contributions', collection_user_contribution_list_url(collections.first.owner, collections.first, user.slug, only_path: false)
  p
    =link_to 'Manage all suspicious behaviors', dashboard_suspicious_behaviors_url(only_path: false)

/ New Collaborators
- unless @activity.collaborators.blank?
  h3 =t('.you_have_new_collaborators')
  - @activity.collaborators.each do |user|
    a href="mailto:#{user.email}" "#{user.email} #{user.login}"<br />
  p
    =t('.you_may_consider', link: link_to("How to write a welcome email", "https://content.fromthepage.com/project-owner-documentation/new-collaborator-email/")).html_safe

/ New Notes and Comments
- unless @activity.comments.blank?
  h3 =t('.comments_from_your_collaborators')
  p
    - @activity.comments.each do |comment|
      -if comment.prerender_mailer
        =raw(show_prerender(comment.prerender_mailer, I18n.locale))
      -else
        =render(partial: 'deed/deed', locals: { deed: comment, long_view: true, mailer: true }, formats: [:html])
      | <br>

/ Raw Activity stream (without notes)
- unless @activity.activity.blank?
  h3 =t('.other_recent_activity')
  - @activity.activity.each do |collection_title,deeds|
    h4 #{collection_title}
    p
      - deeds.each do |deed|
        -if deed.prerender
          =raw(show_prerender(deed.prerender_mailer, I18n.locale))
        -else
          =render(partial: 'deed/deed', locals: { deed: comment, long_view: true, mailer: true }, formats: [:html])
        | <br>


h3 =t('.how_is_your_project_going')
p
  i =t('.what_is_easy').html_safe
p
 =t('.opt_out_email', link: link_to("here", update_profile_url(@activity.owner, only_path: false))).html_safe
