// ---------------------------
// COLLECTION PAGES
// ---------------------------


// Search form

.collection-search {
  position: relative;
  padding-right: 75px;
  input[type=search] {
    height: 34px;
    padding-left: 25px;
    border-right-width: 0;
    background-repeat: no-repeat;
    background-position: left 5px center;
    border-radius: $btnBorderRadius 0 0 $btnBorderRadius;
    @include background-svg(16, 16, '<path fill="#{$bodyFgLight}" d="M15.21,13.79l-3.32-3.32C12.59,9.49,13,8.3,13,7c0-3.31-2.69-6-6-6C3.69,1,1,3.69,1,7s2.69,6,6,6 c1.3,0,2.49-0.42,3.47-1.11l3.32,3.32c0.2,0.2,0.45,0.29,0.71,0.29s0.51-0.1,0.71-0.29C15.6,14.82,15.6,14.18,15.21,13.79z M2.5,7 c0-2.48,2.02-4.5,4.5-4.5c2.48,0,4.5,2.02,4.5,4.5c0,2.48-2.02,4.5-4.5,4.5C4.52,11.5,2.5,9.48,2.5,7z"/>');
  }
  button {
    top: 0;
    right: 0;
    width: 75px;
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.collection-owner {
  width: 100%;
  color: $fgH1;
  margin-top: 2em;
  line-height: 40px;
  display: inline-block;
  text-decoration: none;
  &:hover { color: $fgLink; }
  .userpic { float: left; }
  &_username {
    line-height: 1;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: $fontSizeBig;
    padding-left: $gapSize / 2;
    small {
      display: block;
      color: $bodyFgLight;
    }
  }
}


// Overview

.collection-work {
  padding: $gapSize;
  border-radius: 4px;
  margin-bottom: $gapSize / 2;
  background-clip: padding-box;
  border: 1px solid rgba(#000, 0.06);
  background-color: mix(#FFF, $bodyBg, 35%);
  &_title {
    margin: 0;
    a {
      text-decoration: none;
      color: darken($fgLink, 10%);
      &:hover { color: $fgLink; }
    }
  }
  &_snippet {
    margin: 0.5em 0 0 0;
    font-size: $fontSizeSmall;
  }
  &_stats {
    width: 100%;
    display: table;
    color: $bodyFgFaded;
    margin: 0.5em 0 0 0;
    > span {
      padding-right: 10px;
      display: table-cell;
      white-space: nowrap;
      &:last-child {
        padding: 0;
        width: 100%;
        text-align: right;
      }
    }
    .progress {
      width: 100%;
      max-width: 300px;
    }
  }
}


// Top users

.top-users {
  margin-top: $gapSize * 2;
  .justified_box {
    width: 30%;
    vertical-align: top;
  }
}

.top-user {
  width: 100%;
  margin: 0.3em 0;
  white-space: nowrap;
  vertical-align: top;
  display: inline-block;
  &:before {
    float: right;
    line-height: 20px;
    color: $bodyFgLight;
    margin: 5px 0 0 3px;
    font-size: $fontSizeSmall;
  }
  &_link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    &:after {
      height: 0;
      content: '';
      width: 100%;
      margin-left: 5px;
      display: inline-block;
      border-bottom: 1px dotted rgba(#000, 0.2);
    }
    .userpic {
      font-size: 26px;
      margin-right: 6px;
    }
  }
}


// Categories

.collection-categories {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: $gapSize;
  .category-tree, .category-articles {
    vertical-align: top;
    display: table-cell;
  }
}

.category-tree {
  $bullet-expanded: '<polygon fill="#000" points="0.5,1 4.5,8 8.5,1"/>';
  $bullet-collapsed: '<polygon fill="#000" points="1,0.5 8,4.5 1,8.5"/>';
  width: 30%;
  border-right: 1px solid rgba(#000, 0.1);
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    .tree-item {
      display: block;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      color: $bodyFgLight;
      white-space: nowrap;
      text-decoration: none;
      transition: color 0.2s;
      text-overflow: ellipsis;
      padding: 5px 20px 5px 28px;
      &:hover, &.selected { color: $bodyFg; }
    }
    li {
      margin: 0;
      padding: 0;
    }
    ul {
      display: none;
      padding-left: 20px;
    }
  }
  .tree-bullet {
    left: 0;
    top: 50%;
    width: 29px;
    height: 32px;
    opacity: 0.5;
    display: block;
    cursor: pointer;
    margin-top: -16px;
    position: absolute;
    transition: opacity 0.2s;
    background-position: center;
    background-repeat: no-repeat;
    @include background-svg(9, 9, $bullet-collapsed);
    &:hover { opacity: 1; }
  }
  .expanded {
    > .tree-item .tree-bullet { @include background-svg(9, 9, $bullet-expanded); }
    > ul { display: block; }
  }
}

.category-articles {
  padding-left: $gapSize;
  dl {
    margin: 0;
    padding: 0;
    display: none;
  }
  dd {
    width: 100%;
    display: inline-block;
  }
  a {
    float: left;
    width: 33.33%;
    margin: 0.4em 0;
    line-height: 1.2;
    padding-right: 1em;
    box-sizing: border-box;
  }
}


// Collection footer

.collection-footer {
  text-align: center;
  color: $bodyFgLight;
  margin-top: $gapSize * 3;
  padding-top: $gapSize * 1.5;
  border-top: 1px dotted $borderColor;
}