// ---------------------------
// PUBLIC DASHBOARD
// ---------------------------

.collection {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  display: inline-block;
  box-sizing: border-box;
  transition: border-color 0.3s;
  border-bottom: 1px dotted $borderColor;
  &:last-child {
    border: 0;
    margin: 0;
  }
  &.stats-visible { border-color: transparent; }
  &.stats-visible &_stats-bubble { opacity: 1; }
  &_image {
    float: left;
    padding: 5px;
    background: #FFF;
    margin-right: $gapSize;
    background-clip: padding-box;
    border: 1px solid rgba(#000, 0.06);
  }
  &_details {
    overflow: hidden;
  }
  &_title {
    margin: 0;
    a {
      text-decoration: none;
      color: darken($fgLink, 10%);
      &:hover { color: $fgLink; }
    }
  }
  &_snippet {
    margin: 0.4em 0 0 0;
    font-size: $fontSizeSmall;
  }
  &_summary {
    margin: 0.4em 0 0 0;
    color: $bodyFgFaded;
    > * {
      margin-right: 1em;
      display: inline-block;
      vertical-align: middle;
    }
    a {
      color: inherit;
      &:hover { color: $bodyFg; }
    }
  }
  &_works {
    color: $bodyFgLight;
    li { line-height: 1.2; }
  }
}

.collection_stats {
  &-bubble {
    opacity: 0;
    padding: 0 8px;
    margin-top: 10px;
    position: relative;
    border-radius: 3px;
    transition: opacity 0.3s;
    font-size: $fontSizeSmall;
    background: mix(#000, $bodyBg, 4%);
    border: 1px solid rgba(#000, 0.05);
    &:before, &:after {
      left: 13px;
      content: '';
      bottom: 100%;
      position: absolute;
      border: 6px solid transparent;
      border-top-width: 0;
      border-bottom-color: mix(#000, $bodyBg, 4%);
    }
    &:before {
      margin-bottom: 1px;
      border-bottom-color: rgba(#000, 0.15);
    }
  }
  table {
    width: 100%;
    margin: 8px 0;
    border-spacing: 8px;
    border-collapse: separate;
  }
  th, td {
    line-height: 1.2;
    white-space: nowrap;
    font-size: $fontSizeSmall;
  }
  th {
    color: $bodyFgFaded;
    padding-bottom: 5px;
    border-bottom: 1px solid $borderColor;
  }
  td:first-child {
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    color: $bodyFgFaded;
    text-overflow: ellipsis;
  }
  .progress { width: 200px; }
}


// ---------------------------
// ADMIN DASHBOARD
// ---------------------------

.admin-counters {
  font-size: 0;
  .counter {
    width: 33.33%;
    margin: $gapSize * 2 0;
    font-size: $fontSizeH4;
    &:first-child { border: 0; }
  }
}

.counter.link {
  &:before {
    color: $fgLink;
    }
  &:hover:before {
    color: $fgHover;
    }
}

.admin-logfile {
  color: #333;
  font-size: 12px;
  padding: $gapSize;
  background: rgba(#FFF, 0.5);
  background-clip: padding-box;
  border: 1px solid rgba(#000, 0.05);
}

.admin-grid {
  p {
    margin: 0.4em 0;
    &:first-child { margin-top: 0; }
  }
  [data-prefix] {
    margin-right: 0.8em;
  }
  .icon:only-child { vertical-align: middle; }
}

.upload-status {
  &-new { background-color: #F66; }
  &-queued { background-color: #E6C; }
  &-processing { background-color: #6AF; }
  &-finished { background-color: #7B3; }
}


// ---------------------------
// OWNER DASHBOARD
// ---------------------------

.owner-counters {
  font-size: 0;
  margin: $gapSize 0;
  .counter {
    width: 20%;
    border-left: 1px solid rgba(#000, 0.1);
    &:first-child { border: 0; }
  }
}

.omeka-sites {
  padding: 0;
  list-style: none;
  margin: $gapSize 0;
}

.omeka-site {
  padding: 0;
  position: relative;
  margin: $gapSize / 2 0;
  &_title {
    margin: 0;
    font-size: 18px;
  }
  &_url {
    color: $bodyFgLight;
  }
  .dropdown {
    top: 50%;
    right: 0;
    margin-top: -11px;
    position: absolute;
    padding-right: 6px;
  }
}


// ---------------------------
// EDITOR SECTION
// ---------------------------

.editor-activity time {
  min-width: 120px;
  color: $bodyFgLight;
  white-space: nowrap;
  display: inline-block;
  font-size: $fontSizeSmall;
}