// ---------------------------
// HOME PAGE
// ---------------------------

a.button.big.learn-more {
  width: 246px;
  height: 53px;
  font-size: 24px;
}

@mixin highlightBox {
  background-color: $highlightBoxBg;
  border: 1px solid $borderColor;
  padding: 30px;
}

.intro {
  box-shadow: inset 0 1px 0 rgba(#000, 0.3), inset 0 -1px 0 rgba(#000, 0.1);
  background: $footerBg image-url('static/home/header.jpg') no-repeat center bottom;
  background-size: cover;
  .wrapper {
    display: flex;
    padding: 0 20px;
    min-height: 517px;
    align-items: center;
    justify-content: center;
  }
  &_box {
    color: #FFF;
    padding: 60px;
    text-align: left;
    max-width: $widthMax;
    background: rgba(#100, 0.6);

    &_title {
      margin: 0;
      color: inherit;
      font-size: 38px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-bottom: 17px;
    }
    &_text {
      font-size: 125%;
      max-width: 600px;
      line-height: normal;
      margin: 0.5em 0 0 0;
    }
    a.learn-more {
      margin-top: 41px;
    }
  }

  @media screen and (max-width: $widthL) {
    .wrapper { height: 450px; }
  }
  @media screen and (max-width: $widthM) {
    margin-bottom: 0;
    .wrapper { height: 400px; }
  }
  @media screen and (max-width: $widthMin) {
    .wrapper { height: 350px; }
  }
}

#description {
  text-align: center;
  padding: 10px 0 40px 0;

  h2 {
    margin: 0 auto;
    max-width: 800px;
    font-size: 24px;
    color: $bodyFgDark;
    line-height: normal;
  }
}

.advantages {
  @include highlightBox;

  &_list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  &_list_item {
    flex: 0 1 31%;
    padding: 0 0 $gapSize 0;
  }
  &_title {
    color: $bodyFgDark;
    font-size: $fontSizeH4;
    border-bottom: 1px solid #d5d0c8;
    padding-bottom: 12px;
  }
  &_text {
    margin: 0.5em 0;
    color: $bodyFg;
    line-height: 1.3;
    min-height: 5.2em;
    font-size: $fontSizeStrong;
  }
  ul {
    list-style-type: disc;
    font-size: $fontSizeBig;
    margin: 15px 0 0 1em;
    li {
      margin-top: 5px;
    }
  }
  .start {
    border-top: 1px solid $borderColor;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 10px;

    h4 {
      margin-bottom: 20px;
      color: $bodyFgDark;
    }
  }
}

#quotes {
  padding-top: 55px;
  ol {
    list-style: none;
  }
  .justified_box {
    width: 30%;
    position: relative;
    box-sizing: border-box;
    padding: 0 0 $gapSize 0;
  }
  h2 {
    font-size: $fontSizeH1;
    text-align: center;
    margin-bottom: $gapSize * 2;
  }
  blockquote {
    margin: 0;
    p {
      min-height: 130px;
      color: $bodyFg;
      margin: 0 0 20px 0;
      padding: $gapSize;
      border-radius: 5px;
      font-size: $fontSizeBig;
      font-style: italic;
      position: relative;
      background: mix(#000, $bodyBg, 5);
      &:after {
        top: 100%;
        left: 20px;
        content: '';
        position: absolute;
        border: 0 solid transparent;
        border-width: 20px 20px 0 0;
        border-top-color: mix(#000, $bodyBg, 5);
      }
    }
  }
  cite {
    line-height: 2;
    font-style: normal;
    color: $bodyFgFaded;
    margin-top: $gapSize;
    display: inline-block;
    small {
      display: block;
      max-width: 200px;
      line-height: 1.2;
      color: $bodyFgLight;
    }
  }
  .simplify {
    text-align: center;
    padding: $gapSize;
    margin-bottom: $gapSize * 2;

    h4 {
      color: $bodyFgDark;
      margin-bottom: $gapSize;
    }
  }
}

#transcription_count {
  @include highlightBox;
  text-align: center;
  padding: 30px 0;
  margin-bottom: $gapSize * 2;

  #count {
    font-size: 60px;
    color: #d0021b;
    font-family: $fontFamilyHead;
  }

  p {
    font-size: $fontSizeH4;
    font-family: $fontFamilyHead;
  }
}

.spotlight {
  margin-bottom: $gapSize;
  h3 {
    font-size: $fontSizeH1;
    text-align: center;
    margin-top: $gapSize * 2;
    margin-bottom: $gapSize * 2;
  }
  .justified_box {
    width: 48%;
    color: $bodyFgFaded;
    padding-bottom: $gapSize * 2;
  }
  .cover {
    &_image {
      width: 150px;
      height: 150px;
    }
    &_caption {
      padding-left: $gapSize;
    }
  }
  p {
    margin-top: 0;
  }
  a {
    font-weight: bold;
  }
  @media screen and (max-width: $widthM) {
    .justified_box { width: 100%; }
  }
}
