// ---------------------------
// HOME PAGE
// ---------------------------

.intro {
  box-shadow: inset 0 1px 0 rgba(#000, 0.3), inset 0 -1px 0 rgba(#000, 0.1);
  background: $footerBg image-url('static/header.jpg') no-repeat center bottom;
  background-size: cover;
  .wrapper {
    position: relative;
    min-height: 517px;
    padding: 0;

    &:after {
      width: 0;
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &_box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    text-align: left;
    max-width: $widthMax;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    background: rgba(#100, 0.5);
    margin: 0 auto;
    padding: 60px;

    &_title {
      margin: 0;
      color: inherit;
      font-size: 38px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-bottom: 17px;
    }
    &_text {
      font-size: 125%;
      max-width: 600px;
      margin: 0.5em 0 0 0;
    }
    a.button.big {
      margin-top: 41px;
      width: 246px;
      height: 53px;
      font-size: 24px;
    }
  }

  @media screen and (max-width: $widthL) {
    .wrapper { height: 450px; }
  }
  @media screen and (max-width: $widthM) {
    margin-bottom: 0;
    .wrapper { height: 400px; }
  }
  @media screen and (max-width: $widthMin) {
    .wrapper {
      height: 350px;
      text-align: center;
    }
  }
}

#description {
  text-align: center;
  padding: 10px 0 40px 0;

  h2 {
    font-size: 24px;
    color: $staticFg;
  }
}

.whouses {
  margin-bottom: $gapSize * 3;
  .justified {
    margin: 0 -$gapSize / 4;
  }
  .justified_box {
    width: 33.33%;
    padding: 0 $gapSize / 4 $gapSize / 2 $gapSize / 4;
  }
  .cover {
    width: 100%;
    background: #FFF;
    background-clip: padding-box;
    border-spacing: $gapSize * 0.75;
    border: 1px solid rgba(#000, 0.1);
    &_image {
      width: 100px;
      height: 100px;
    }
  }

  @media screen and (max-width: $widthM) {
    .justified_box { width: 100%; }
  }
}

.spotlight {
  margin-bottom: $gapSize;
  .justified_box {
    width: 48%;
    color: $bodyFgFaded;
    padding-bottom: $gapSize * 2;
  }
  .cover {
    &_image {
      width: 150px;
      height: 150px;
    }
    &_caption {
      padding-left: $gapSize;
    }
  }

  @media screen and (max-width: $widthM) {
    .justified_box { width: 100%; }
  }
}

.features {
  counter-reset: index;
  margin-bottom: $gapSize;
  .justified_box {
    width: 48%;
    position: relative;
    box-sizing: border-box;
    padding: 0 0 $gapSize 60px;
    &:before {
      top: 0;
      left: 0;
      opacity: 0.1;
      line-height: 1;
      font-size: 500%;
      font-weight: bold;
      position: absolute;
      content: counter(index);
      counter-increment: index;
    }
  }
  &_title { margin: 0; }
  &_text {
    margin: 0.5em 0;
    color: $bodyFgLight;
    font-size: $fontSizeBig;
  }
}

.advantages {
  margin-bottom: $gapSize * 2;
  .justified_box {
    width: 30%;
    position: relative;
    box-sizing: border-box;
    padding: 0 0 $gapSize 0;
  }
  &_text {
    margin: 0.5em 0;
    color: $bodyFgLight;
    font-size: $fontSizeBig;
  }
  &_quote {
    margin: 0;
    &_text {
      margin: 0 0 20px 0;
      padding: $gapSize;
      border-radius: 5px;
      font-style: italic;
      padding-left: 60px;
      position: relative;
      background: mix(#000, $bodyBg, 5);
      &:before {
        top: 0;
        left: 15px;
        content: '“';
        font-size: 90px;
        font-style: normal;
        position: absolute;
        color: rgba($bodyFgLight, 0.5);
      }
      &:after {
        top: 100%;
        left: 20px;
        content: '';
        position: absolute;
        border: 0 solid transparent;
        border-width: 20px 20px 0 0;
        border-top-color: mix(#000, $bodyBg, 5);
      }
    }
    &_cite {
      line-height: 2;
      font-style: normal;
      color: $bodyFgFaded;
      small {
        display: block;
        max-width: 200px;
        line-height: 1.2;
        color: $bodyFgLight;
      }
    }
  }
}
