// ---------------------------
// PAGE PAGES
// ---------------------------


// Page navigation

.page-nav {
  font-size: 0;
  color: $bodyFgFaded;
  display: inline-block;
  vertical-align: middle;
  &_prev, &_next, &_info {
    padding: 0 0.6em;
    line-height: 2.2;
    display: table-cell;
    border-radius: 1.2em;
    text-decoration: none;
    font-size: $fontSizeSmall;
    background: rgba(#FFF, 0.35);
    border: 1px solid $borderColor;
  }
  &_prev, &_next { color: rgba($bodyFgFaded, 0.5); }
  &_info { border-radius: 0;}
  &_prev {
    border-right: 0;
    padding-left: 0.8em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &_next {
    border-left: 0;
    padding-right: 0.8em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  a {
    color: inherit;
    &:hover {
      color: $bodyFg;
      background: #FFF;
    }
  }
}


// Full screen mode

.page-editor.fullscreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  background: $bodyBg;
  box-sizing: border-box;
  padding: $gapSize * 1.5 $gapSize * 1.5 0 $gapSize * 1.5;
}


// Page toolbar

.page-toolbar {
  padding-bottom: $gapSize;
  margin-top: -$gapSize / 2;
}


// Page columns

.page-headlines {
  width: 100%;
  display: inline-block;
  .headline {
    width: 50%;
    float: left;
    margin-bottom: $gapSize / 2;
  }
}

.page-columns {
  width: 100%;
  min-height: 700px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgba($borderColor, 0.6);
}

.page-column {
  width: 50%;
  float: left;
  height: 100%;
  box-sizing: border-box;
  border-left: 1px solid rgba($borderColor, 0.6);
  &:first-child { border-left: 0; }
}

.page-preview {
  height: 100%;
  overflow-y: auto;
  padding: $gapSize;
  box-sizing: border-box;
  font-size: $fontSizeBig;
  background: rgba(#FFF, 0.3);
  p:first-child { margin-top: 0; }
  p:last-child { margin-bottom: 0; }
  .centered_content { text-align: center; }
}

.page-editarea {
  height: 100%;
  background: #FFF;
  padding: $gapSize / 4;
  box-sizing: border-box;
  input, textarea {
    border: 0;
    background: none;
    box-shadow: none;
  }
  textarea { height: 100%; }
  &_title {
    width: 100%;
    height: 50px;
    display: table;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: $fontSizeBig;
    border-bottom: 1px solid rgba(#000, 0.1);
    > * {
      padding: 5px;
      display: table-cell;
      white-space: nowrap;
      vertical-align: middle;
      &:last-child { width: 100%; }
    }
    + textarea { height: calc(100% - 60px); }
  }
}

.page-imagescan {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(#000, 0.03);
}


// Assign categories

.page-uncategorized {
  padding: $gapSize;
  border-radius: 4px;
  margin: $gapSize 0;
  background-clip: padding-box;
  border: 1px solid rgba(#000, 0.06);
  background-color: mix(#FFF, $bodyBg, 50%);
  &_subject:before { color: $bodyFgLight; }
}


// Page notes

.page-notes {
  margin: 0 auto;
  max-width: 800px;
}


// Page versions

.page-versions {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  th {
    line-height: 30px;
    color: $bodyFgFaded;
    padding: 0 0 5px 10px;
    vertical-align: bottom;
    &:first-child { width: 25%; }
  }
  td {
    vertical-align: top;
    border-style: solid;
    border-color: rgba(#000, 0.06);
  }
}

.page-version-list {
  border-width: 0 1px 0 0;
  a {
    display: block;
    overflow: hidden;
    line-height: 2.4;
    color: $bodyFgLight;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    padding: 0 $gapSize / 2;
    &:hover { color: $bodyFg; }
    &.selected {
      color: $bodyFg;
      margin-right: -1px;
      background-clip: padding-box;
      background-color: mix($bodyBg, #FFF, 30%);
      border: 1px solid rgba(#000, 0.06);
      border-right-width: 0;
    }
    time {
      width: 7em;
      display: inline-block;
    }
  }
}

.page-version {
  width: 50%;
  padding: $gapSize;
  border-width: 1px 0;
  background-clip: padding-box;
  background-color: mix($bodyBg, #FFF, 30%);
  &:last-child {
    border-right-width: 1px;
    background-color: mix($bodyBg, #000, 96%);
  }
  p {
    margin: $lineHeight+em 0 0 0;
    &:first-child { margin-top: 0; }
  }
  .original { display: none; }
  ins {
    background: #CEC;
    text-decoration: none;
  }
  del { background: #FCC; }
  span { background: #FFF; }
  [data-empty]:empty:before {
    opacity: 0.5;
    content: attr(data-empty);
  }
}
