// ---------------------------
// WORK PAGES
// ---------------------------


.work-contents {
  td {
    height: 30px;
    padding: 5px 10px;
  }
}

.work-columns {
  margin-bottom: $gapSize;
  &_left {
    width: 100%;
    color: $bodyFgFaded;
  }
  &_right {
    vertical-align: middle;
  }
}

.work-page-position {
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  a {
    padding: 5px;
    color: $bodyFgLight;
    display: inline-block;
    &:hover {
      color: $bodyFg;
    }
  }
}