// ---------------------------
// WORK PAGES
// ---------------------------


.work-contents {
  td {
    height: 30px;
    padding: 5px 10px;
  }
  a.no-notes {
    color: $bodyFgLight;
    &:hover {
      color: $bodyFgFaded;
    }
  }
}

.work-columns {
  margin-bottom: $gapSize;
  &_left {
    width: 100%;
    color: $bodyFgFaded;
  }
  &_right {
    vertical-align: middle;
  }
}

.work-page-position {
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  a {
    padding: 5px;
    color: $bodyFgLight;
    display: inline-block;
    &:hover {
      color: $bodyFg;
    }
  }
}

.work-page {
  width: 100%;
  padding: $gapSize 0;
  display: inline-block;
  border-bottom: 1px dotted $borderColor;
  &_thumbnail {
    float: left;
    margin-right: $gapSize;
    img {
      width: 8em;
      padding: 3px;
      background: #FFF;
      border: 1px solid rgba(#000, 0.1);
    }
  }
  &_content {
    overflow: hidden;
    position: relative;
  }
  &_title a {
    text-decoration: none;
    color: darken($fgLink, 10%);
    &:hover { color: $fgLink; }
  }
  &_text {
    background-color: #f3ead7;
    padding-top: 0.10em;
    padding-right: 0.5em;
    padding-bottom: 0.10em;
    padding-left: 0.5em;
  }
  &_text p {
    margin: 0.3em 0;
  }
  &_edited {
    display: block;
    margin-top: 1em;
    color: $bodyFgLight;
  }
  &_toggle-view {
    top: 0;
    right: 0;
    position: absolute;
    font-size: $fontSizeSmall;
  }
  .nodata_text {
    margin: 1em 0;
  }
  .field__label {
    color: #86634d;
  }
  .incomplete_text {
    text-align: center;
    color: $bodyFgLight;
    padding-bottom: 0.5em;
    b {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
  .incomplete_transcription {
    margin: 0.3em 0;
    overflow: hidden;
    position: relative;
    max-height: 4.125em;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    &:after {
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      height: 2.5em;
      position: absolute;
      background-image: linear-gradient(to bottom, transparent, #f3ead7);
    }
    > p {
      margin: 0;
    }
  }


}

.review-button {
  margin-bottom: 1em;
}

.restrict-button {
  margin-top: 1em;
}

.reset-button {
  margin-bottom: 1em;
}

.categories {
  margin: 0;
}

.page_status {
  font-style: italic;
}

// Settings

.warning {
  font-style: italic;
  color: $fgRed;
}
