// ---------------------------
// WORK PAGES
// ---------------------------


.work-contents {
  td {
    height: 30px;
    padding: 5px 10px;
  }
  a.no-notes {
    color: $bodyFgLight;
    &:hover {
      color: $bodyFgFaded;
    }
  }
}

.work-columns {
  margin-bottom: $gapSize;
  &_left {
    width: 100%;
    color: $bodyFgFaded;
  }
  &_right {
    vertical-align: middle;
  }
}

.work-page-position {
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  a {
    padding: 5px;
    color: $bodyFgLight;
    display: inline-block;
    &:hover {
      color: $bodyFg;
    }
  }
}

.work-page {
  width: 100%;
  padding: $gapSize 0;
  display: inline-block;
  border-bottom: 1px dotted $borderColor;
  &_thumbnail {
    float: left;
    margin-right: $gapSize;
    img {
      padding: 3px;
      background: #FFF;
      border: 1px solid rgba(#000, 0.1);
    }
  }
  &_content {
    overflow: hidden;
    position: relative;
  }
  &_title a {
    text-decoration: none;
    color: darken($fgLink, 10%);
    &:hover { color: $fgLink; }
  }
  &_text p {
    margin: 0.3em 0;
  }
  &_edited {
    display: block;
    margin-top: 1em;
    color: $bodyFgLight;
  }
  &_toggle-view {
    top: 0;
    right: 0;
    position: absolute;
    font-size: $fontSizeSmall;
  }
  .nodata_text {
    margin: 1em 0;
  }
}

.review-button {
  margin-bottom: 1em;
}

.categories {
  margin: 0;
}