h1 About FromThePage
p.big FromThePage is open-source software for collaborating on texts. The tool supports projects from simple, plain-text transcription through bilingual digital editions.

h3 Collaborative Transcription
p Once you've scanned letters, diaries, or other handwritten documents, what's next? FromThePage will display each page of those letters to users to transcribe with a simple, wiki-like mark-up.  Multiple users can collaborate on the same document, each adding their own expertise. Once transcribed, the documents are easy to read, search, and share.

h3 Indexing
p You can create an index to a document using wiki-markup to tag people, places, and other subjects of interest within your documents. As text is tagged, the index to your documents grows, as does the ability to research a subject (regardless of variation in spelling within the text). Users can add articles to each subject, creating annotations which will be displayed to any reader.

h3 Discussion
p Readers and editors can add notes to individual pages, asking questions about the text, answering questions about difficult passages, or commenting on the material. The most recent notes appear on the collection homepage, making it easy to respond to questions.

h3 Security
p Transcription projects (or individual collections within a project) can be made private.  Private collections are neither editable nor readable by anyone not explicitly authorized to see them by the project owner. Public collections may also contain works for whom only a pre-approved set of users may make edits.

h3 Version Control
p Every change to every page is logged and visible in that page's &ldquo;versions&rdquo; tab. All edits to pages within a work are also visible in the work's &ldquo;versions&rdquo; tab.

br

h2#fromthepage2 What's New in FromThePage 2
p In addition to the core support for transcription, version tracking, indexing, and annotation, version 2.0 adds significant new capabilities for textual crowdsourcing and collaborative digital editions.

h3 OCR Correction
p Starting with a printed text, rather than a handwritten document? FromThePage now supports OCR correction projects, allowing the same editing and indexing activities without the need to re-type page text from scratch.

h3 Collaborative Translation
p After a page has been transcribed, users can collaborate to translate it, creating a parallel edition. Most languages are supported, as FromThePage uses Unicode for both source texts and translations. <i>(Developed thanks to the Center for Medieval Studies at Fordham University.)</i>

h3 Project Management
p Project owners now have a owners dashboard to review activity within their project. This allows at-a-glance review of collaborators, activity (including questions and comments as well as recent changes) within the project, and status of the works in the project.

h3 Editor's Dashboard
p Whether amateur volunteers or academic scholars, the most passionate contributors to any collaborative project are heavily invested in the quality of the text. The new Editor's Dashboard shows users the most recent activity in the collections they care about, as well as pointing them to their own contributions so that they can take up where they left off.

h3 TEI-XML Export
p At any time, project owners can export documents as P5-compliant TEI-XML files. These exports contain full transcripts, translations, and notes, as well as full revision histories.

h3 Omeka and Internet Archive Integration
p If your page images are already hosted on the Internet Archive or on an Omeka site, setting up a transcription project requires no upload at all. Integration code allows projects to be started from material on those platforms with a simple import process.

h3 Improved UI
p We've rewritten the UI across the board. Some highlights are:
ul
  li The transcription screen now allows users to toggle between a side-by-side view and an over-and-under view, supporting both ledger-size documents and the narrowest of notebooks.
  li Page images are now displayed using a new zoom tool that allows panning.
  li It's now easy to compare versions of pages.