-content_for :page_title, "FromThePage - transcribe handwritten documents"
-content_for :meta_description, "FromThePage is free software that allows volunteers to transcribe handwritten documents online. Easy to index and annotate subjects within a text using a wiki-like mark-up. Users can discuss difficult writing or obscure words within a page to refine their transcription. The resulting text is hosted on the web, making documents easy to read and search."
-content_for :meta_keywords, "transcribe handwritten documents online free open-source wiki historical crowdsourcing transcription"



section.spotlight
  = html_block('left')
section.spotlight
  = html_block('right')
