<%= render({ :partial => '/shared/work_tabs',
             :locals => { :selected => 9,
                          :work_id => @work.id }}) %>

<div class="two-columns">
	<div class="left-column">
		<div class="inside-column">
			<%= html_block('left') %>
		</div>
	</div>
	<div class="right-column">
		<div class="inside-column">
			<%= html_block('right') %>
		</div>
	</div>
</div>