

<div class="two-columns">
  <div class="left-column">
    <div class="inside-column">
      <p>
      	<% @list_metadata_formats_response.each do |metadata_format| %>
			<%= metadata_format.namespace %><br />
			<%= metadata_format.prefix %><br />
			<%= metadata_format.schema %><br />
			<br />
	    <% end %>
      </p>    
    </div>
  </div>
</div>
