=form_tag({:controller => 'dashboard', :action => 'new_landing_page'}, method: :get,
  enforce_utf8: false, class: 'collection-search') do
      =hidden_field_tag :org, user.slug
      =search_field_tag :search, params[:search], placeholder: t('dashboard.landing_page.search_org')
      =button_tag t('dashboard.landing.search')
      =label_tag 'search', t('dashboard.landing_page.search_org_label'), class: 'hidden'

section.user-profile
  .user-profile_image
    =profile_picture(user, 128)
  .user-profile_details
    .headline
      h1.headline_title
        =user.display_name
      -if user == current_user
        .headline_aside
          =link_to(update_profile_path(user.id), class: 'button outline', :data => { litebox: { hash: 'update-profile' }})
            =svg_symbol '#icon-edit', class: 'icon'
            span =t('.edit_profile')
          |&nbsp;&nbsp;
          =link_to(edit_user_registration_path, class: 'button outline')
            =svg_symbol '#icon-user', class: 'icon'
            span =t('.login_and_password').html_safe
          |&nbsp;&nbsp;
          =link_to(user_api_key_path, class: 'button outline', :data => { litebox: { hash: 'api-key' }})
            =svg_symbol '#icon-lock', class: 'icon'
            span =t('.api_keys').html_safe
    .user-profile_stats
      -if user.website.present?
        =link_to t('.website'), user.website, target: '_blank', rel: 'nofollow'
      -if user.about.present?
        div ==user.about

-unless carousel_collections.blank?
  .carousel
    -carousel_collections.each do |c|
      -snippet = to_snippet(c.intro_block)
      .carousel_slide
        =link_to image_tag(c.picture_url, alt: c.title), collection_path(c.owner, c), class: 'carousel_slide_image'
        .carousel_slide_content
          h3 =link_to c.title, collection_path(c.owner, c)
          p =snippet

.columns
  article.maincol
    -if collections_and_document_sets.any?{ |c| c.class == Collection && c.supports_document_sets }
      =render partial: '/dashboard/hierarchical_collections_and_document_sets', collection: collections_and_document_sets, as: :cds
    -else
      =render partial: '/dashboard/alphabetical_collections_and_document_sets', collection: collections_and_document_sets, as: :cds
  aside.sidecol

-content_for :javascript
  javascript:
    $(function(){
      $('.carousel').slick({
        autoplay: true,
        arrows: true,
        infinite: true,
        speed: 1000,
        autoplaySpeed: 8000,
        prevArrow: '<button class="button outline" aria-label="#{t('.previous_image')}">#{svg_symbol '#icon-arrow-left', class: 'icon'}</button>',
        nextArrow: '<button class="button outline" aria-label="#{t('.next_image')}">#{svg_symbol '#icon-arrow-right', class: 'icon'}</button>',
      });
    });
