-tabs = [{\
  icon: '#icon-settings',
  name: t('.general'),
  selected: 1,
  path: "#{main_app.edit_collection_path(@collection.owner, @collection)}",
},{\
  icon: '#icon-task-configuration',
  name: t('.task_configuration'),
  selected: 2,
  path: "#{main_app.edit_tasks_collection_path(@collection.owner, @collection)}",
},{\
  icon: '#icon-look-feel',
  name: t('.look_feel'),
  selected: 3,
  path: "#{main_app.edit_look_collection_path(@collection.owner, @collection)}",
},{\
  icon: '#icon-lock',
  name: t('.privacy_access'),
  selected: 4,
  path: "#{main_app.edit_privacy_collection_path(@collection.owner, @collection)}",
},{\
  icon: '#icon-help',
  name: t('.help_text'),
  selected: 5,
  path: "#{main_app.edit_help_collection_path(@collection.owner, @collection)}",
},{\
  icon: '#icon-check-sign',
  name: t('.quality_control'),
  selected: 6,
  path: "#{main_app.edit_quality_control_collection_path(@collection.owner, @collection)}",
}]

-if current_user == @collection.owner
  -tabs += [{\
    icon: '#icon-warning-sign',
    name: t('.danger_zone'),
    selected: 7,
    path: "#{main_app.edit_danger_collection_path(@collection.owner, @collection)}",
  }]

.side-tabs
  -for tab in tabs
    -if tab[:selected] == selected
      a.active 
        =svg_symbol tab[:icon], class: 'icon'
        =tab[:name]
    -else
      =link_to tab[:path]
        =svg_symbol tab[:icon], class: 'icon'
        =tab[:name]
