<h5>Facets go here</h5>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingMinusOne">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMinusOne" aria-expanded="false" aria-controls="collapseMinusOne">
        S1
      </a>
    </h4>
  </div>
  <div id="collapseMinusOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMinusOne">
    <div class="panel-body">
      <%[:s1].each do |filter_name|%>
        <%filter = @search.filter(filter_name)%>
        <div class="filter">
          <div class="filter-values">
            <ul class="selectable">
              <%filter.facet.reject(&:selected).each do |facet_value|%>
                <% entity = facet_value.entity%>
                <li>
                  <%display = "#{entity}"%>
                  <%=link_to display, filter.add(entity).path%>
                </li>
              <%end%>
            </ul>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingMinusOne">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMinusOne" aria-expanded="false" aria-controls="collapseMinusOne">
        S2
      </a>
    </h4>
  </div>
  <div id="collapseMinusOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMinusOne">
    <div class="panel-body">
      <%[:s2].each do |filter_name|%>
        <%filter = @search.filter(filter_name)%>
        <div class="filter">
          <div class="filter-values">
            <ul class="selectable">
              <%filter.facet.reject(&:selected).each do |facet_value|%>
                <% entity = facet_value.entity%>
                <li>
                  <%display = "#{entity}"%>
                  <%=link_to display, filter.add(entity).path%>
                </li>
              <% end%>
            </ul>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingMinusOne">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMinusOne" aria-expanded="false" aria-controls="collapseMinusOne">
        S3
      </a>
    </h4>
  </div>
  <div id="collapseMinusOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMinusOne">
    <div class="panel-body">
      <%[:s3].each do |filter_name|%>
        <%filter = @search.filter(filter_name)%>
        <div class="filter">
          <div class="filter-values">
            <ul class="selectable">
              <%filter.facet.reject(&:selected).each do |facet_value|%>
                <% entity = facet_value.entity%>
                <li>
                  <%display = "#{entity}"%>
                  <%=link_to display, filter.add(entity).path%>
                </li>
              <%end%>
            </ul>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingMinusOne">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMinusOne" aria-expanded="false" aria-controls="collapseMinusOne">
        D1
      </a>
    </h4>
  </div>
  <div id="collapseMinusOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMinusOne">
    <div class="panel-body">
      <%[:d1].each do |filter_name|%>
        <%filter = @search.filter(filter_name)%>
        <div class="filter">
          <div class="filter-values">
            <ul class="selectable">
              <%filter.facet.reject(&:selected).each do |facet_value|%>
                <% entity = facet_value.entity%>
                <li>
                  <%display = "#{entity}"%>
                  <%=link_to display, filter.add(entity).path%>
                </li>
              <%end%>
            </ul>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
