.litebox-embed(style="width:450px")

  h3 =t('collection.edit_quality_control.collection_reviewers')
  p.fglight =t('collection.edit_quality_control.collection_reviewers_description')
  =form_tag(collection_add_reviewer_path, class: 'user-select-form') do
    =hidden_field_tag :collection_id, @collection.id, id: 'add_reviewer_collection_id'
    -if User.count > 100
      -options = nil
    -else
      -options = options_from_collection_for_select(@nonreviewers, 'id', 'name_with_identifier')
    =select_tag 'user_id', options, include_blank: true, id: 'add_reviewer_user_id'
    =button_tag t('collection.edit.add_button')
  -@reviewers.each do |user|
    -contributions = user.deeds.where(collection_id: @collection.id).count
    .user-label
      =profile_picture(user)
      .username
        =link_to user.display_name, user_profile_path(user)
        small= t('collection.edit.n_contributions', count: contributions)
        =form_tag(collection_remove_reviewer_path) do
          =hidden_field_tag(:user_id, user.id, {:id => "remove_user_#{user.id}"})
          =hidden_field_tag(:collection_id, @collection.id, {:id => "remove_user_collection_#{user.id}"})
          =button_tag '', class: 'remove', title: t('collection.edit.remove_reviewer'), 'aria-label' => t('collection.edit.remove_reviewer')

  .toolbar
    .toolbar_group.aright
      =link_to(t('collection.edit.done'), edit_quality_control_collection_path(@collection.owner, @collection), class: 'button')

javascript:
  $('#add_reviewer_user_id').select2({
    placeholder: 'Add new reviewer...',  
    ajax: {
      url: '#{collection_search_users_path(@collection)}',
      dataType: 'json', 
      delay: 250,
      data: function (params) {
        var query = {
          term: params.term,
          user_type: 'reviewer'
        }
        return query;
      }
    }
  });

