=render({ :partial => '/shared/collection_tabs', :locals => { :selected => 1, :collection_id => @collection }})

=form_tag(collection_search_path(@collection.owner, @collection), :method => :get, class: 'collection-search') do
  =label_tag 'term', t('.search_in_collection'), class: 'sr-only'
  =search_field_tag :term, @search_string, :placeholder => t('.search_in_collection')
  =button_tag t('.search')

=render({ :partial => 'elastic/tabbed_results', :locals => { :search_results => @search_results} })
