=render partial: '/shared/collection_tabs', locals: { selected: 9, collection_id: @collection }
.columns
  article.maincol
    div.collection-work-list
      h2 =t('.works')

    =fe_filter_table_wrapper(selector: 'works-table') do
      =fe_filter_form_wrapper(url: collection_works_list_path(@collection.owner, @collection), selector: 'works-table', sorting: @sorting, ordering: @ordering) do
        =fe_filter_search(key: :search, value: params[:search])
        =fe_filter_select(key: :show, value: params[:show] || 'all', options: works_list_show_options) if @collection.is_a?(Collection)

      =fe_filter_table(selector: 'works-table') do
        =render partial: 'works_table'
