=render({ :partial => '/shared/page_tabs', :locals => { :selected => 2, :page_id => @page.id }})

-selected_version_date = @selected_version.created_on.localtime.strftime("%b %d, %Y %I:%M %p")
-selected_version_user = link_to(@selected_version.user.display_name, { :controller => 'user', :action => 'profile', :user_id => @selected_version.user.id })

p.diff-help Here you can see all page revisions and compare the changes have been made in each revision. Left column shows the page title and transcription in the selected revision, right column shows what have been changed. Unchanged text is <span>highlighted in white</span>, deleted text is <del>highlighted in red</del>, and inserted text is <ins>highlighted in green</ins> color.

table.diff-versions(data-fullheight='{ "bottom": 30, "cssrule": "min-height" }')
  tr
    th: h5.nomargin =pluralize(@page.page_versions.size, 'revision')
    th =="#{selected_version_user} at #{selected_version_date}"
    th
      =form_tag({ :action => 'show' }, :method => 'get', :enforce_utf8 => false, :'data-compare-with' => '') do
        =hidden_field_tag :page_version_id, @selected_version.id
        =label_tag :compare_version_id, 'Compared with'
        =select_tag :compare_version_id, options_from_collection_for_select(@page.page_versions.all.to_a, :id, :display, (@previous_version ? @previous_version.id.to_s : ''))
  tr

    td.diff-list
      .scroll-container
        -@page.page_versions.each do |version|
          =link_to({ :action => 'show', :page_version_id => version.id }, class: ('selected' if version == @selected_version))
            =time_tag(version.created_on)
              =version.created_on.strftime("%b %d, %Y")
            small =version.user.display_name

    td.diff-version[*language_attrs(@collection)]
      h4(data-diff-title="changed" data-empty="Untitled") =@selected_version.title ? @selected_version.title : "Untitled"
      div(data-diff-transcription="changed" data-empty="No transcription provided")
        ==xml_to_html(@selected_version.xml_transcription)
      -if @work.supports_translation
        hr
        h4 Translation
        div(data-diff-translation="changed" data-empty="No translation provided")
          ==xml_to_html(@selected_version.xml_translation)

    td.diff-version[*language_attrs(@collection)]
      h4(data-diff-title="original" data-empty="Untitled") =(@previous_version.title rescue "")
      div(data-diff-transcription="original" data-empty="No transcription provided")
        ==xml_to_html((@previous_version.xml_transcription rescue ""))
      -if @work.supports_translation
        hr
        h4 Translation
        div(data-diff-translation="original" data-empty="No translation provided")
          ==xml_to_html((@previous_version.xml_translation rescue ""))

-content_for :javascript
  =javascript_include_tag 'textdiff'
  javascript:
    $(function() {
      $('.diff-versions')
        .prettyTextDiff({
          changedContainer:  '[data-diff-title=changed]',
          originalContainer: '[data-diff-title=original]',
          diffContainer:     '[data-diff-title=original]'
        })
        .prettyTextDiff({
          changedContainer:  '[data-diff-transcription=changed]',
          originalContainer: '[data-diff-transcription=original]',
          diffContainer:     '[data-diff-transcription=original]'
        })
        .prettyTextDiff({
          changedContainer:  '[data-diff-translation=changed]',
          originalContainer: '[data-diff-translation=original]',
          diffContainer:     '[data-diff-translation=original]'
        });

      // Awful workaround to make sure containers
      // do not contain empty text nodes
      $('[data-empty]').each(function() {
        $element = $(this);
        if(!$.trim($element.html())) {
          $element.empty();
        }
      });

      // Auto submit form when select value changed
      $('select#compare_version_id').on('change', function() {
        $(this).closest('form').submit();
      });
    });