// ---------------------------
// APPLICATION LAYOUT
// ---------------------------

.header {
  text-align: left;
  padding: 0 $gapSize;
  background: $headerBg;
  font-family: $fontFamilyHead;
  box-shadow: 0 1px 0 rgba(#000, 0.2);
  .toolbar {
    height: $headerHeight;
    &_group:last-child { text-align: right; }
  }
  &_link {
    color: $headerFg;
    white-space: nowrap;
    margin-left: $gapSize;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    font-size: $fontSizeStrong;
    &:hover { color: $fgHover; }
  }
  &_user {
    margin-left: $gapSize * 2;
    span {
      text-align: right;
      display: inline-block;
      vertical-align: middle;
    }
    big, small {
      display: block;
      overflow: hidden;
      max-width: 170px;
      line-height: 1.12;
      text-overflow: ellipsis;
    }
    small {
      font-family: $fontFamily;
      font-size: $fontSizeSmall;
    }
    .icon {
      opacity: 0.9;
      font-size: 28px;
      vertical-align: middle;
    }
  }
}

.footer {
  bottom: 0;
  width: 100%;
  display: flex;
  text-align: left;
  color: $footerFg;
  padding: $gapSize;
  position: absolute;
  align-items: center;
  height: $footerHeight;
  background: $footerBg;
  box-sizing: border-box;
  justify-content: space-between;

  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: lighten($footerFg, 20);
    }
  }

  &_nav {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &_copyright {
    margin-top: 1rem;
  }

  &_social {
    display: flex;
    justify-content: flex-end;

    a:not(:last-child) {
      margin-right: 1.5rem;
    }

    svg {
      width: 24px;
      height: 24px;
      vertical-align: top;
    }
  }
}

.wrapper {
  padding: 3rem;
  margin: 0 auto;
  text-align: left;
  max-width: $widthMax;
  box-sizing: border-box;
}

.columns {
  width: 100%;
  display: table;
  &.fixed {
    table-layout: fixed;
  }
  > * {
    padding: 0 $gapSize;
    display: table-cell;
    vertical-align: top;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }
  .maincol {
    width: 70%;
  }
  .sidecol {
    width: 30%;
    min-width: 300px;

    .allowed-collaborators {
      align-items: center;
      justify-content: space-between;
      display: flex;
      width: 100%;

      h3 {
        margin-bottom: 0px !important;
      }

    }

    .users-list {
      padding: 0;

      .user-label {
        float: none;
        padding: 0.5rem 1rem;

        &:nth-child(5) {
          margin-right: 0px;
          margin-bottom: 30px;
        }
      }

      &.expanded {
        .user-label {
          display: inline-block;
          &:nth-child(5) {
            margin-bottom: 0px;
          }
        }
        .expand-btn .icon {
          transform: rotate(-180deg);
          transition: transform 0.3s;
        }
      }
    }
  }
}
