// ---------------------------
// APPLICATION LAYOUT
// ---------------------------

.header {
  text-align: left;
  padding: 0 $gapSize;
  background: $headerBg;
  font-family: $fontFamilyHead;
  box-shadow: 0 1px 0 rgba(#000, 0.2);
  .toolbar {
    height: $headerHeight;
    &_group:last-child { text-align: right; }
  }
  &_link {
    color: $headerFg;
    white-space: nowrap;
    margin-left: $gapSize;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    font-size: $fontSizeStrong;
    &:hover { color: $fgHover; }
  }
  &_user {
    margin-left: $gapSize * 2;
    span {
      text-align: right;
      display: inline-block;
      vertical-align: middle;
    }
    big, small {
      display: block;
      overflow: hidden;
      max-width: 160px;
      line-height: 1.12;
      text-overflow: ellipsis;
    }
    small {
      font-family: $fontFamily;
      font-size: $fontSizeSmall;
    }
    .icon {
      opacity: 0.9;
      font-size: 28px;
      vertical-align: middle;
    }
  }
}

.footer {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $footerFg;
  padding: $gapSize;
  background: $footerBg;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer_nav li {
  margin-right: 0.4em;
  display: inline;
}

.footer_copyright {
  flex: auto;
  text-align: right;
}

.footer_nav li a, .footer_copyright a {
  color: inherit;
  text-decoration: underline;
  &:hover { color: lighten($footerFg, 20); }
}

.wrapper {
  margin: 0 auto;
  text-align: left;
  max-width: $widthMax;
  box-sizing: border-box;
  padding: $gapSize * 1.5 $gapSize;
}

.columns {
  width: 100%;
  display: table;
  > * {
    padding: 0 $gapSize;
    display: table-cell;
    vertical-align: top;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }
  .maincol {
    width: 70%;
  }
  .sidecol {
    width: 30%;
    min-width: 300px;
  }
}
