// ---------------------------
// GENERAL SHARED STYLES
// ---------------------------

.wrapping {
  margin: 0;
  font-size: 0;
  list-style: none;
  &_box {
    margin: 0;
    text-align: left;
    white-space: normal;
    vertical-align: top;
    font-size: $fontSize;
    display: inline-block;
    box-sizing: border-box;
  }
  &.vmiddle > &_box { vertical-align: middle; }
  &.nowrap {
    overflow: hidden;
    white-space: nowrap;
  }
}

.justified {
  margin: 0;
  font-size: 0;
  list-style: none;
  text-align: justify;
  text-justify: newspaper;
  text-align-last: justify;
  &:after {
    height: 0;
    width: 100%;
    content: '';
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
  }
  &_box {
    margin: 0;
    text-align: left;
    font-size: $fontSize;
    display: inline-block;
    text-align-last: auto;
    vertical-align: middle;
    box-sizing: border-box;
  }
  &.vtop > &_box { vertical-align: top; }
}

.centered {
  margin: 0;
  height: 100%;
  font-size: 0;
  line-height: 0;
  list-style: none;
  word-spacing: -1px;
  text-align: center;
  white-space: nowrap;
  &:before, &:after {
    width: 0;
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  &_content {
    text-align: left;
    line-height: normal;
    white-space: normal;
    word-spacing: normal;
    font-size: $fontSize;
    display: inline-block;
    vertical-align: middle;
  }
}


// ---------------------------
// GLOBAL BUSY INDICATOR
// ---------------------------

$svg-page-busy: '
<g fill="none" stroke="#FFF" stroke-width="4" stroke-linecap="round">
<line opacity="1.00" x1="24"   y1="4"    x2="24"   y2="12"/>
<line opacity="0.20" x1="34"   y1="6.7"  x2="30"   y2="13.6"/>
<line opacity="0.20" x1="41.4" y1="14"   x2="34.4" y2="18"/>
<line opacity="0.28" x1="44"   y1="24"   x2="36"   y2="24"/>
<line opacity="0.36" x1="34.4" y1="30"   x2="41.4" y2="34"/>
<line opacity="0.44" x1="30"   y1="34.4" x2="34"   y2="41.4"/>
<line opacity="0.52" x1="24"   y1="36"   x2="24"   y2="44"/>
<line opacity="0.60" x1="18"   y1="34.4" x2="14"   y2="41.4"/>
<line opacity="0.68" x1="13.6" y1="30"   x2="6.7"  y2="34"/>
<line opacity="0.76" x1="12"   y1="24"   x2="4"    y2="24"/>
<line opacity="0.84" x1="6.7"  y1="14"   x2="13.6" y2="18"/>
<line opacity="0.92" x1="14"   y1="6.7"  x2="18"   y2="13.6"/>
</g>';

@keyframes page-busy {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.page-busy-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 9999;
  position: fixed;
  visibility: hidden;
  background: rgba(#111, 0.8);
  transform: translate3d(0,0,0);
  transition: opacity 0.3s, visibility 0.3s;
  .page-busy & {
    opacity: 1;
    visibility: visible;
    transition-delay: 2s;
    &:before { display: block; }
  }
  &:before {
    top: 50%;
    left: 50%;
    content: '';
    width: 48px;
    height: 48px;
    display: none;
    position: absolute;
    margin: -24px 0 0 -24px;
    transform-origin: 24px 24px;
    animation: litebox-busy 1s infinite steps(12);
    @include background-svg(48, 48, $svg-page-busy);
  }
}


// ---------------------------
// APPLICATION SHARED STYLES
// ---------------------------

.fgfaded { color: $bodyFgFaded; }
.fglight { color: $bodyFgLight; }

.toolbar {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  &_group {
    display: table-cell;
    white-space: nowrap;
    padding-left: $gapSize;
    vertical-align: middle;
    &:first-child { padding-left: 0; }
  }
  &.vtop > &_group { vertical-align: top; }
  table.form + & { margin: $gapSize 0 0 0; }
}

.instack {
  margin: 0;
  list-style: none;
  display: inline-block;
  > * {
    margin-left: 0.6em;
    padding-left: 0.6em;
    display: inline-block;
    border-left: 1px solid rgba(#000, 0.15);
    &:first-child {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}

.label {
  color: #FFF;
  padding: 0 0.5em;
  line-height: 1.75;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  background: rgba(#210, 0.3);
}
a.label:hover {
  color: #FFF;
  background: rgba(#210, 0.5);
}

.legend {
  margin: 1em 0;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
  &:before, &:after {
    width: 50%;
    height: 1px;
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: $borderColor;
  }
  &:before {
    left: -0.5em;
    margin: 0 0 0 -50%;
  }
  &:after {
    left: 0.5em;
    margin: 0 -50% 0 0;
  }
  &-left {
    text-align: left;
    &:before { display: none; }
    &:after { width: 100%; }
  }
  .pill-stroke {
    margin: 0 -0.5em;
    color: $bodyFgLight;
  }
}

.headline {
  width: 100%;
  display: table;
  white-space: nowrap;
  margin-bottom: $gapSize;
  > * {
    padding: 0 $gapSize;
    display: table-cell;
    vertical-align: middle;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }
  &_title {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: normal;
  }
}

.cover {
  display: table;
  &_image {
    display: table-cell;
    vertical-align: top;
  }
  &_caption {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

.logo {
  width: 134px;
  height: 50px;
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.icon {
  width: 1em;
  height: 1em;
  font-size: $iconSize;
  vertical-align: -10%;
  display: inline-block;
  text-decoration: none;
  &:first-child { margin-right: 0.3em; }
  &:last-child { margin-left: 0.3em; }
  &:only-child { margin: 0; }
  &-big {
    vertical-align: -16%;
    font-size: $iconSize * 1.5;
  }
}

.tabs {
  $textColor: #322;
  $borderColor: rgba(#000, 0.15);

  padding: 0;
  width: 100%;
  vertical-align: top;
  display: inline-block;
  margin: 0 0 $gapSize 0;
  font-family: $fontFamilyHead;
  border-bottom: 1px solid $borderColor;
  a {
    float: left;
    padding: 0 0.8em;
    line-height: 2.4em;
    margin-bottom: -1px;
    text-decoration: none;
    font-size: $fontSizeBig;
    border-radius: 3px 3px 0 0;
    color: rgba($textColor, 0.5);
    border: 1px solid transparent;
    border-width: 1px 1px 0 1px;
    &:hover { color: $textColor; }
    &.active {
      cursor: default;
      color: $textColor;
      border-color: $borderColor;
      background: linear-gradient(to bottom, mix(#FFF, $bodyBg, 50), $bodyBg);
    }
  }
}

.flash {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
  text-align: center;
  height: $headerHeight;
  line-height: $headerHeight;
  box-shadow: 0 1px 0 rgba(#000, 0.1);
  &-notice {
    color: $fgGreen;
    background: rgba($bgGreen, 0.9);
  }
  &-alert {
    color: $fgOrange;
    background: rgba($bgOrange, 0.9);
  }
  &-error {
    color: $fgRed;
    background: rgba($bgRed, 0.9);
  }
  &_message {
    display: inline-block;
    line-height: $lineHeight;
  }
  &_close {
    top: 50%;
    right: 18px;
    width: 32px;
    height: 32px;
    font-size: 32px;
    cursor: pointer;
    line-height: 36px;
    margin-top: -16px;
    text-align: center;
    position: absolute;
    text-decoration: none;
    color: rgba(#000, 0.4);
    &:hover { color: #000; }
  }
}

.validation {
  margin: 1em 0;
  padding-left: 1em;
  color: $inputInvalidColor;
  border-left: 3px solid currentColor;
  &_title {
    color: inherit;
    margin: 0 0 0.3em 0;
    font-size: $fontSizeBig;
  }
  &_summary {
    margin: 0;
    padding: 0;
    list-style: none;
    li { margin: 0; }
  }
}

.datagrid {
  border: 0;
  width: 100%;
  line-height: 1.2;
  border-collapse: separate;
  border-bottom: 1px solid rgba(#000, 0.08);
  th {
    font-weight: bold;
    padding: 15px 10px;
    white-space: nowrap;
    background: rgba(#000, 0.1);
  }
  td {
    padding: 10px;
    word-wrap: break-word;
    word-break: break-word;
    border-top: 1px solid rgba(#000, 0.08);
    //max-width: 50px;
    //overflow: hidden;
    //text-overflow: ellipsis;
    &.nowrap {
      //max-width: none;
      //overflow: visible;
      word-wrap: normal;
      word-break: normal;
      //text-overflow: none;
    }
    &.toleft { padding-left: 0; }
    &.toright { padding-right: 0; }
  }
  thead + tbody tr:first-child td { border: 0; }
  &.striped tr:nth-child(even) {
    background-clip: padding-box;
    background-color: rgba(#000, 0.03);
  }
}

.nodata {
  margin: $gapSize 0;
  padding: $gapSize * 2;
  background: rgba(#000, 0.02);
  border: 1px solid rgba(#000, 0.05);
  &_title {
    margin: 0;
    color: $fgH1;
  }
  &_text {
    margin: 0.3em 0;
    color: $bodyFgFaded;
  }
}

.litebox-embed {
  margin: $gapSize auto;
  .litebox & { margin: 0; }
}

.counter {
  padding: 0.5em;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  font-size: $fontSizeH5;
  font-family: $fontFamilyHead;
  &:before {
    color: $fgH1;
    display: block;
    line-height: 1;
    font-size: 250%;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: -0.03em;
    font-family: $fontFamily;
  }
}

.userpic {
  width: 1em;
  height: 1em;
  font-size: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-size: 0.9em 0.9em;
  background-repeat: no-repeat;
  background-color: rgba(#200, 0.2);
  background-position: center bottom;
  @include background-svg(16, 16, '<path fill="#100" opacity="0.5" d="M12.53,11.96c-2.1-0.8-2.77-1.47-2.77-2.91c0-0.87,0.64-0.58,0.92-2.17c0.12-0.66,0.68-0.01,0.79-1.51 c0-0.6-0.31-0.75-0.31-0.75s0.16-0.89,0.22-1.57C11.46,2.19,10.91,0,8,0C5.09,0,4.54,2.19,4.62,3.04c0.06,0.68,0.22,1.57,0.22,1.57 S4.53,4.76,4.53,5.36c0.11,1.5,0.67,0.85,0.79,1.51c0.28,1.59,0.92,1.3,0.92,2.17c0,1.44-0.67,2.12-2.77,2.91 C1.37,12.76,0,13.57,0,14.13S0,16,0,16h16c0,0,0-1.31,0-1.87S14.63,12.76,12.53,11.96L12.53,11.96z"/>');
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  &.userpic-small { font-size: 30px; }
}

.progress {
  $color: #6C2;
  height: 10px;
  font-size: 0;
  text-align: left;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  background: rgba(#FFF, 0.8);
  &:after {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border-radius: inherit;
    border: 1px solid rgba(#000, 0.12);
  }
  span {
    height: 100%;
    background: $color;
    display: inline-block;
    &:nth-child(2) { background: adjust-hue($color, -30deg); }
  }
}

.pill-stroke {
  color: inherit;
  padding: 0 1em;
  line-height: 2;
  border-radius: 1.2em;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  font-size: $fontSizeSmall;
  border: 1px solid $borderColor;
  .icon {
    opacity: 0.6;
    margin-left: -0.2em;
  }
}
a.pill-stroke:hover {
  color: $bodyFg;
  background: rgba(#FFF, 0.5);
}


// ---------------------------
// PAGINATION
// ---------------------------

.pagination {
  font-size: 0;
  white-space: nowrap;
  color: $bodyFgLight;
  margin: $gapSize / 2 0;
  > * {
    line-height: 2;
    padding: 0 0.5em;
    transition: none;
    margin: 0 1px 0 0;
    font-style: normal;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    font-size: $fontSizeBig;
  }
  a:hover {
    background: rgba(#200, 0.1);
  }
  .current {
    color: $fgSelected;
    background: $bgSelected;
  }
  .disabled {
    display: none;
  }
  &_info {
    line-height: 2;
    text-align: right;
    color: $bodyFgFaded;
    margin: $gapSize / 2 0;
  }
}