= turbo_frame_tag "segmentation-banner-#{page.id}"
  -if page.is_first_page_candidate? && page.position > 1
    .segmentation-banner
      .segmentation-banner-content
        p.segmentation-banner-message =t('transcribe.display_page.segmentation_candidate')

        .segmentation-banner-actions
          .segmentation-popover-anchor
            button.button.action-btn(type='button' data-segmentation-toggle)
              =t('transcribe.display_page.segmentation_yes')
            .segmentation-popover(data-segmentation-popover)
              =form_with(url: split_page_collection_work_path(collection.owner, collection, work), method: :post) do |f|
                =hidden_field_tag :page_id, page.id
                =label_tag :new_work_title, t('transcribe.display_page.previous_work_title', n: page.position - 1), class: 'segmentation-popover-label'
                =text_field_tag :new_work_title, default_split_title(work), class: 'segmentation-title-input'
                .segmentation-popover-actions
                  button.button.outline(type='button' data-segmentation-cancel)
                    =t('transcribe.display_page.segmentation_cancel')
                  =f.submit t('transcribe.display_page.segmentation_confirm'), class: 'button action-btn'
          =link_to(dismiss_segmentation_collection_work_path(collection.owner, collection, work, page_id: page.id), class: 'button outline', data: { turbo: true, turbo_method: :patch })
            =t('transcribe.display_page.segmentation_no')
