= turbo_frame_tag "segmentation-split-strip-#{page.id}"
  .segmentation-banner.segmentation-split-strip(data-segmentation-split-strip)
    .segmentation-banner-content
      p.segmentation-banner-message =t('transcribe.display_page.segmentation_split_confirm_message')
      .segmentation-banner-actions
        =link_to(t('transcribe.display_page.segmentation_split_confirm_button'), split_page_collection_work_path(collection.owner, collection, work, page_id: page.id), class: 'button action-btn', data: { turbo: true, turbo_method: :post })
