<p>
    Pages for <%= @work.title %>:
</p>

<p>
  <% @work.pages.each do |page| %>
    <%= link_to(page.title,
                { :action => 'display_page',
                  :page_id => page.id } ) %>

    <br />
  <% end %>
</p>
