@import "base/ftp_color_scheme";

// ---------------------------
// TYPOGRAPHY
// ---------------------------

$remSize:                   10px;
$iconSize:                  16px;
$iconMargin:                0.375em;
$lineHeight:                1.375;

$fontFamily:                'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
$fontFamilyHead:            'Crete Round', Georgia, 'Times New Roman', Times, serif;

$fontSizeSmall:             14px;
$fontSize:                  16px;
$fontSizeBig:               18px;
$fontSizeStrong:            20px;
$fontSizeH5:                20px; //125%
$fontSizeH4:                24px; //150%
$fontSizeH3:                28px; //175%
$fontSizeH2:                32px; //200%
$fontSizeH1:                40px; //250%

// ---------------------------
// EASING FUNCTIONS
// ---------------------------

$easeOutCubic:              cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutElastic:            cubic-bezier(0.1, 1.3, 0.7, 1.1);

// ---------------------------
// BUTTONS & INPUTS
// ---------------------------

$btnHeight:                 2em;
$btnPadding:                0.75em;
$btnIconPadding:            0.6em;
$btnBorderRadius:           0.25em;
$btnTransitionTime:         0.1s;
$btnFontWeight:             normal;
$btnFontSize:               $fontSize;
$btnFontSizeBig:            $fontSizeBig;
$btnFontSizeSmall:          $fontSizeSmall;
$btnFontSizeStrong:         $fontSizeStrong;
$btnFontFamily:             $fontFamily;
$btnColor:                  #532;
$btnBackground:             #EFE9E6;
$btnFocusBorder:            #09F;
$btnDisabledColor:          #AAA;
$btnDisabledBackground:     #EEE;
$btnRedColor:               #FFF;
$btnRedBackground:          #E33;
$btnGreenColor:             #FFF;
$btnGreenBackground:        #8C3;
$btnBlueColor:              #FFF;
$btnBlueBackground:         #3AE;
$btnOrangeColor:            #FFF;
$btnOrangeBackground:       #F83;

$inputHeight:               2em;
$inputPadding:              0.375em;
$inputBorderRadius:         0;
$inputTransitionTime:       0.2s;
$inputFontSize:             $fontSize;
$inputFontFamily:           $fontFamily;
$inputColor:                #000;
$inputBackground:           #FFF;
$inputBorderColor:          rgba(#000, 0.15);
$inputFocusBorder:          rgba(#433, 0.45);
$inputDisabledColor:        #888;
$inputDisabledBackground:   #F9F9F9;
$inputInvalidColor:         #C00;

// ---------------------------
// LAYOUT
// ---------------------------

$widthMax:                  1280px;
$widthL:                    1024px;
$widthM:                    900px;
$widthMin:                  768px;

$gapSize:                   20px;

@import "base/normalize";
@import "base/global";
@import "base/helpers";

@import "components/forms";
@import "components/buttons";
@import "components/dropdown";
@import "components/litebox";

@import "components/shared";
@import "components/layout";

@import "sections/home";
@import "sections/project";
@import "sections/signon";
@import "sections/deed";
@import "sections/dashboard";
@import "sections/collection";
@import "sections/article";
@import "sections/page";
@import "sections/work";
@import "sections/user";
@import "sections/ia-import";
@import "sections/omeka";
@import "sections/iiif-import";

@import "plugins/select2/core";
@import "plugins/zoomer";
@import "plugins/bookreader";

#welcome-message {
  width: 480px;
  .button {
    border: 0;
    color: #FFF;
    display: block;
    line-height: 2.5;
    box-shadow: none;
    background-image: none;
    margin: 1.5em 0 0.5em 0;
    font-size: $fontSizeStrong;
    background-color: mix($bodyBg, #322, 50%);
    &:hover, &:focus, &:active {
      background-color: mix($bodyBg, #322, 30%);
    }
  }
}

@import "datepicker/datepicker";
