=form_tag(url, method: :get, enforce_utf8: false, id: selector, class: classes, data: dataset) do
  -if local_assigns[:sorting]
    =hidden_field_tag :sort, sorting
  -if local_assigns[:ordering]
    =hidden_field_tag :order, ordering

  -static_params.each do |key, value|
    =hidden_field_tag key, value

  =yield
